node-red/flows.json
[{"id":"d7bc3fab.7a4e8","type":"tab","label":"UniPi","disabled":false,"info":""},{"id":"9f7c9a37.dd0b28","type":"tab","label":"Zigbee - CC2532 Ti","disabled":false,"info":""},{"id":"6bb20d7.44481f4","type":"tab","label":"fake temp","disabled":false,"info":""},{"id":"1d7f96d0.a5ef29","type":"subflow","name":"Network Map (4)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"c2287cf1.f1006","type":"subflow","name":"Pairing Notifications (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"ef334060.da584","type":"subflow","name":"Devices (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"745da55.b69b05c","type":"subflow","name":"Status (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"4b20a347.6179ec","type":"subflow","name":"Logging Level (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"321dbafd.bfadd6","type":"subflow","name":"Remove Device (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"8bff0e3.fceb9f","type":"subflow","name":"Permit Join (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"e084a6a.4631f58","type":"subflow","name":"Rename Device (5)","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"6455e978.240c88","type":"websocket-client","path":"ws://127.0.0.1:8080/ws","tls":"","wholemsg":"false"},{"id":"147012f0.fc1afd","type":"ui_group","name":"Digital outputs","tab":"ff81c0a2.338b5","order":2,"disp":true,"width":"6","collapse":false},{"id":"c1ff5163.f3269","type":"ui_group","name":"Analog inputs","tab":"ff81c0a2.338b5","order":3,"disp":true,"width":"6","collapse":false},{"id":"476c4d26.7f5c34","type":"ui_group","name":"Analog outputs","tab":"ff81c0a2.338b5","order":4,"disp":true,"width":"6","collapse":false},{"id":"420ea789.f9e278","type":"ui_group","name":"Digital inputs","tab":"ff81c0a2.338b5","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff81c0a2.338b5","type":"ui_tab","name":"Unipi","icon":"dashboard","disabled":false,"hidden":false},{"id":"7bc12edc.e2588","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5f205706.9356f8","type":"zigbee2mqtt-server","name":"zigbee","host":"localhost","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"25691028.52c6a","type":"ui_group","z":"ef334060.da584","name":"Devices","tab":"8a847acd.0763c8","order":1,"disp":true,"width":"12","collapse":false},{"id":"40573a59.6ec0c4","type":"ui_group","name":"Status","tab":"8a847acd.0763c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4cb35853.cdcde8","type":"ui_group","z":"4b20a347.6179ec","name":"Logging Level","tab":"8a847acd.0763c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"bbb3596e.f2c6a8","type":"ui_group","z":"321dbafd.bfadd6","name":"Remove Device","tab":"8a847acd.0763c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"7b37feaf.b63ae","type":"ui_group","name":"Permit Join","tab":"8a847acd.0763c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"cae262ab.45512","type":"mqtt-broker","name":"","broker":"192.168.0.5","port":"8883","tls":"9895f781.42a5e8","clientid":"","usetls":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9895f781.42a5e8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false},{"id":"241ead91.463d32","type":"ui_group","name":"Rename Device","tab":"8a847acd.0763c8","order":6,"disp":true,"width":"6","collapse":false},{"id":"8a847acd.0763c8","type":"ui_tab","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"350275cb.7a84e2","type":"influxdb","hostname":"192.168.0.133","port":"8086","protocol":"http","database":"WEATHER","name":"iot-influxdb","usetls":false,"tls":"9895f781.42a5e8","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"b47228e5.b3db58","type":"websocket out","z":"d7bc3fab.7a4e8","name":"","server":"","client":"6455e978.240c88","x":1840,"y":1300,"wires":[]},{"id":"5d86cc2d.8c7ca4","type":"websocket in","z":"d7bc3fab.7a4e8","name":"","server":"","client":"6455e978.240c88","x":600,"y":280,"wires":[["1e2588f7.210637","27f27c55.7132b4","8f03fb48.c2cca8","d40c6834.a6eb18","e67ee568.e015b8","f373cbc3.fc6a28","bd9a4c80.96771","ec20cd63.a0eea","c5d7384d.07d608","10f927f3.0a7678"]]},{"id":"10f927f3.0a7678","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DI 1.1","alias":"","devices":"input","circuits":"1.01","property":"value","seedev":"0","seecirc":"0","x":1110,"y":240,"wires":[["5a705260.e7825c"]]},{"id":"110586b9.e39229","type":"unipi-output","z":"d7bc3fab.7a4e8","name":"DO 1.1","cmd":"set","alias":"","devices":"relay_do","circuits":"1.01","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1460,"y":880,"wires":[["b47228e5.b3db58","4d7635cd.f604cc"]]},{"id":"a8720153.74cfc","type":"ui_switch","z":"d7bc3fab.7a4e8","name":"","label":"DO 1.1","tooltip":"","group":"147012f0.fc1afd","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":880,"wires":[["110586b9.e39229"]]},{"id":"cd482ee8.b2a2f","type":"ui_gauge","z":"d7bc3fab.7a4e8","name":"AI 1.1","group":"c1ff5163.f3269","order":0,"width":0,"height":0,"gtype":"gage","title":"AI 1.1","label":"V","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"6","x":1610,"y":400,"wires":[]},{"id":"1e2588f7.210637","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"AI 1.1","alias":"","devices":"ai","circuits":"1.01","property":"value","seedev":"0","seecirc":"0","seeorig":"0","x":1110,"y":420,"wires":[["16b49c7a.51c764"]]},{"id":"56e4b50b.bc108c","type":"ui_slider","z":"d7bc3fab.7a4e8","name":"","label":"AO 1.1","tooltip":"","group":"476c4d26.7f5c34","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":"0.1","x":1060,"y":1140,"wires":[["7ce40268.cd53bc"]]},{"id":"7ce40268.cd53bc","type":"unipi-output","z":"d7bc3fab.7a4e8","name":"AO 1.1","cmd":"set","alias":"","devices":"ao","circuits":"1.01","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1340,"y":1140,"wires":[["b47228e5.b3db58"]]},{"id":"16b49c7a.51c764","type":"function","z":"d7bc3fab.7a4e8","name":"Round 2 decimals","func":"var analog_output = \"AI 1.1\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    analog_output : analog_output,\n    timestamp: Date(Date.now()),\n    temps: Math.round(msg.payload * 100) / 100 \n} \n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.return {payload: Math.round(msg.payload * 100) / 100}\n","finalize":"","libs":[],"x":1330,"y":420,"wires":[["cd482ee8.b2a2f","ba156b10.7e54b8"]]},{"id":"5a705260.e7825c","type":"function","z":"d7bc3fab.7a4e8","name":"To ON/OFF","func":"var digital_input = \"1.1\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1329,"y":240,"wires":[["48f47e09.18384","ba156b10.7e54b8","8675ddfa.0323b"]]},{"id":"48f47e09.18384","type":"ui_text","z":"d7bc3fab.7a4e8","group":"420ea789.f9e278","order":1,"width":0,"height":0,"name":"","label":"DI 1.1","format":"{{msg.payload}}","layout":"row-spread","x":1589,"y":240,"wires":[]},{"id":"f373cbc3.fc6a28","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DI 1.2","alias":"","devices":"input","circuits":"1.02","property":"value","seedev":"0","seecirc":"0","x":1109,"y":280,"wires":[["c60924fb.579068"]]},{"id":"c60924fb.579068","type":"function","z":"d7bc3fab.7a4e8","name":"To ON/OFF","func":"var digital_input = \"1.2\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":280,"wires":[["3bb91e1e.4c1e32","ba156b10.7e54b8","8675ddfa.0323b"]]},{"id":"3bb91e1e.4c1e32","type":"ui_text","z":"d7bc3fab.7a4e8","group":"420ea789.f9e278","order":1,"width":0,"height":0,"name":"","label":"DI 1.2","format":"{{msg.payload}}","layout":"row-spread","x":1588,"y":280,"wires":[]},{"id":"bd9a4c80.96771","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DI 1.3","alias":"","devices":"input","circuits":"1.03","property":"value","seedev":"0","seecirc":"0","x":1109,"y":320,"wires":[["74cf93e6.6434ec"]]},{"id":"74cf93e6.6434ec","type":"function","z":"d7bc3fab.7a4e8","name":"To ON/OFF","func":"var digital_input = \"1.3\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1328,"y":320,"wires":[["2929f7c1.cf6e28","ba156b10.7e54b8"]]},{"id":"2929f7c1.cf6e28","type":"ui_text","z":"d7bc3fab.7a4e8","group":"420ea789.f9e278","order":1,"width":0,"height":0,"name":"","label":"DI 1.3","format":"{{msg.payload}}","layout":"row-spread","x":1588,"y":320,"wires":[]},{"id":"ec20cd63.a0eea","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DI 1.4","alias":"","devices":"input","circuits":"1.04","property":"value","seedev":"0","seecirc":"0","x":1109,"y":360,"wires":[["51c00d2a.40ea54"]]},{"id":"51c00d2a.40ea54","type":"function","z":"d7bc3fab.7a4e8","name":"To ON/OFF","func":"var digital_input = \"1.4\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1328,"y":360,"wires":[["b937a609.f53998","ba156b10.7e54b8"]]},{"id":"b937a609.f53998","type":"ui_text","z":"d7bc3fab.7a4e8","group":"420ea789.f9e278","order":1,"width":0,"height":0,"name":"","label":"DI 1.4","format":"{{msg.payload}}","layout":"row-spread","x":1588,"y":360,"wires":[]},{"id":"48159b42.7c72c4","type":"unipi-output","z":"d7bc3fab.7a4e8","name":"DO 1.2","cmd":"set","alias":"","devices":"relay_do","circuits":"1.02","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1460,"y":940,"wires":[["b47228e5.b3db58","4d7635cd.f604cc"]]},{"id":"80ddb8e4.7f1c98","type":"ui_switch","z":"d7bc3fab.7a4e8","name":"","label":"DO 1.2","tooltip":"","group":"147012f0.fc1afd","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":940,"wires":[["48159b42.7c72c4"]]},{"id":"fe69f06d.45052","type":"unipi-output","z":"d7bc3fab.7a4e8","name":"DO 1.3","cmd":"set","alias":"","devices":"relay_do","circuits":"1.03","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1460,"y":1000,"wires":[["b47228e5.b3db58","4d7635cd.f604cc"]]},{"id":"bfa27982.6c7a58","type":"ui_switch","z":"d7bc3fab.7a4e8","name":"","label":"DO 1.3","tooltip":"","group":"147012f0.fc1afd","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":1000,"wires":[["fe69f06d.45052"]]},{"id":"1001d6a4.84fd29","type":"unipi-output","z":"d7bc3fab.7a4e8","name":"DO 1.4","cmd":"set","alias":"","devices":"relay_do","circuits":"1.04","enableFil":"1","inputFil":"","relayFil":"","digoutFil":"","analoutFil":"","analinFil":"","ledFil":"","x":1460,"y":1060,"wires":[["b47228e5.b3db58","4d7635cd.f604cc"]]},{"id":"c0de0edf.3b0e4","type":"ui_switch","z":"d7bc3fab.7a4e8","name":"","label":"DO 1.4","tooltip":"","group":"147012f0.fc1afd","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1060,"y":1060,"wires":[["1001d6a4.84fd29"]]},{"id":"27f27c55.7132b4","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DO 1.1","alias":"","devices":"relay_do","circuits":"1.01","property":"value","seedev":"1","seecirc":"1","seeorig":"1","x":660,"y":880,"wires":[["ad1744cf.f45998"]]},{"id":"ad1744cf.f45998","type":"function","z":"d7bc3fab.7a4e8","name":"To boolean","func":"var digital_output = \"1.1\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":880,"wires":[["a8720153.74cfc"]]},{"id":"8f03fb48.c2cca8","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DO 1.2","alias":"","devices":"relay_do","circuits":"1.02","property":"value","seedev":"0","seecirc":"0","seeorig":"0","x":660,"y":940,"wires":[["41328fb5.c6cb7"]]},{"id":"41328fb5.c6cb7","type":"function","z":"d7bc3fab.7a4e8","name":"To boolean","func":"var digital_output = \"1.2\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg\nreturn true","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":940,"wires":[["80ddb8e4.7f1c98"]]},{"id":"d40c6834.a6eb18","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DO 1.3","alias":"","devices":"relay_do","circuits":"1.03","property":"value","seedev":"0","seecirc":"0","seeorig":"0","x":660,"y":1000,"wires":[["8611ee26.d8742"]]},{"id":"8611ee26.d8742","type":"function","z":"d7bc3fab.7a4e8","name":"To boolean","func":"var digital_output = \"1.3\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1000,"wires":[["bfa27982.6c7a58"]]},{"id":"e67ee568.e015b8","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"DO 1.4","alias":"","devices":"relay_do","circuits":"1.04","property":"value","seedev":"0","seecirc":"0","seeorig":"0","x":660,"y":1060,"wires":[["298cbe94.9d7ee2"]]},{"id":"298cbe94.9d7ee2","type":"function","z":"d7bc3fab.7a4e8","name":"To boolean","func":"var digital_output = \"1.4\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1060,"wires":[["c0de0edf.3b0e4"]]},{"id":"c5d7384d.07d608","type":"unipi-input","z":"d7bc3fab.7a4e8","name":"AO 1.1","alias":"","devices":"ao","circuits":"1.01","property":"value","seedev":"0","seecirc":"0","seeorig":"0","x":660,"y":1140,"wires":[["56e4b50b.bc108c"]]},{"id":"1adb1e0b.c229c2","type":"comment","z":"d7bc3fab.7a4e8","name":"Input section","info":"Reading from websocket channel provided by Evok\nFiltering only the messages for given IO\nFormatting the value to be displayed in the UI\nDisplaying in the UI","x":530,"y":120,"wires":[]},{"id":"ba156b10.7e54b8","type":"json","z":"d7bc3fab.7a4e8","name":"digital_input_json","property":"payload","action":"","pretty":true,"x":1650,"y":460,"wires":[["ce82c341.c34ec","2482d1d0.7d6ffe"]]},{"id":"2482d1d0.7d6ffe","type":"debug","z":"d7bc3fab.7a4e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":460,"wires":[]},{"id":"ce82c341.c34ec","type":"file","z":"d7bc3fab.7a4e8","name":"","filename":"/home/unipi/datalog/test2.json","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1970,"y":380,"wires":[[]]},{"id":"fcaf91c.6ef797","type":"file","z":"d7bc3fab.7a4e8","name":"json file store in local","filename":"/home/unipi/datalog/test3.json","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":2020,"y":720,"wires":[["e6e00cbf.f4a27"]]},{"id":"4d7635cd.f604cc","type":"json","z":"d7bc3fab.7a4e8","name":"digital_output_json","property":"do11","action":"","pretty":true,"x":1790,"y":800,"wires":[["fcaf91c.6ef797"]]},{"id":"e6e00cbf.f4a27","type":"debug","z":"d7bc3fab.7a4e8","name":"influxdb - print console","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"influxdb","targetType":"msg","statusVal":"","statusType":"auto","x":2260,"y":720,"wires":[]},{"id":"536b7e30.b63f6","type":"influxdb in","z":"d7bc3fab.7a4e8","influxdb":"350275cb.7a84e2","name":"influxdb","query":"SHOW DATABASES;","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":1940,"y":1140,"wires":[["d37e62f6.aa6a1"]]},{"id":"d37e62f6.aa6a1","type":"debug","z":"d7bc3fab.7a4e8","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2110,"y":1140,"wires":[]},{"id":"8cd3e93c.7586a8","type":"inject","z":"d7bc3fab.7a4e8","name":"show database","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1760,"y":1140,"wires":[["536b7e30.b63f6"]]},{"id":"8675ddfa.0323b","type":"debug","z":"d7bc3fab.7a4e8","name":"print","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"temperature","targetType":"msg","statusVal":"","statusType":"auto","x":1770,"y":600,"wires":[]},{"id":"16f0a6aa.365fd9","type":"mqtt in","z":"1d7f96d0.a5ef29","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","datatype":"auto","broker":"7bc12edc.e2588","nl":false,"rap":false,"x":120,"y":140,"wires":[["fe591242.503dd"]]},{"id":"acba4c61.f1022","type":"http in","z":"1d7f96d0.a5ef29","name":"","url":"/adminpanelapi/networkmap/graphviz","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["f57c1c5c.db0c4"]]},{"id":"77ae799c.51ee38","type":"http response","z":"1d7f96d0.a5ef29","name":"","x":610,"y":200,"wires":[]},{"id":"f57c1c5c.db0c4","type":"function","z":"1d7f96d0.a5ef29","name":"get from flow","func":"var networkmap = flow.get('networkmap');\n\nmsg.payload = networkmap;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["77ae799c.51ee38"]]},{"id":"7e78e0f8.3ee19","type":"inject","z":"1d7f96d0.a5ef29","name":"","repeat":"","crontab":"","once":true,"onceDelay":"300","topic":"","payload":"graphviz","payloadType":"str","x":120,"y":80,"wires":[["9a6b1034.fada4"]]},{"id":"fe591242.503dd","type":"function","z":"1d7f96d0.a5ef29","name":"store in flow","func":"flow.set('networkmap',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"9a6b1034.fada4","type":"mqtt out","z":"1d7f96d0.a5ef29","name":"zigbee2mqtt/in","topic":"zigbee2mqtt/bridge/networkmap","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bc12edc.e2588","x":280,"y":80,"wires":[]},{"id":"85c669c4.62eca8","type":"http in","z":"1d7f96d0.a5ef29","name":"","url":"/adminpanelapi/networkmap/viz/:engine","method":"get","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["ca7e5a95.b39b78"]]},{"id":"769c032.82029fc","type":"http response","z":"1d7f96d0.a5ef29","name":"","statusCode":"","headers":{},"x":810,"y":260,"wires":[]},{"id":"87a8d60a.86d478","type":"function","z":"1d7f96d0.a5ef29","name":"generate viz html","func":"var html = `<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>NetworkMap</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js\"></script>\n    <script src='https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js'></script>\n    <style>\n    svg {\n      width: 100% !important;\n      height: 100% !important;\n      min-width: 100% !important;\n      min-height: 80% !important;\n    }\n    </style>\n  </head>\n  <body>\n    <div id=\"output\"></div>\n    \n    <script>\n        var graphData = '${(flow.get('networkmap')).replace(/(\\r\\n|\\n|\\r)/gm,\"\")}';\n        var vizOptions = { format: 'svg', engine: '${msg.engine}'}\n        var graph = document.querySelector(\"#output\");\n        var svg = graph.querySelector(\"svg\");\n        if (svg) {\n          graph.removeChild(svg);\n        }        \n\n        var viz = new Viz();\n\n        viz.renderSVGElement(graphData, vizOptions)\n          .then(function(svg) {\n            svg.id = \"svg_output\";\n            graph.appendChild(svg);              \n            \n            panZoom = svgPanZoom(svg, {\n              zoomEnabled: true,\n              controlIconsEnabled: true,\n              contain: true,\n              center: true,\n              minZoom: 0.1\n            });\n\n            svg.addEventListener('paneresize', function(e) {\n              panZoom.resize();\n            }, false);\n            window.addEventListener('resize', function(e) {\n              panZoom.resize();\n            });\n          })\n          .catch(error => {\n            // Create a new Viz instance (@see Caveats page for more info)\n            viz = new Viz();\n  \n            // Possibly display the error\n            console.error(error);\n          });\n    </script>\n  </body>\n</html>\n`\n\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["769c032.82029fc"]]},{"id":"ca7e5a95.b39b78","type":"function","z":"1d7f96d0.a5ef29","name":"set engine","func":"var availableEngines = ['circo', 'dot', 'fdp', 'neato', 'osage', 'twopi']\nif(availableEngines.includes(msg.req.params.engine)) { msg.engine = msg.req.params.engine }\nelse { msg.engine = 'dot' }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["87a8d60a.86d478"]]},{"id":"307ac2fc.2856ae","type":"mqtt in","z":"c2287cf1.f1006","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"7bc12edc.e2588","nl":false,"rap":false,"x":290,"y":140,"wires":[["45e00180.83e83"]]},{"id":"45e00180.83e83","type":"json","z":"c2287cf1.f1006","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["dc358e29.225bb","764d802.91a968","b08008c5.204708"]]},{"id":"8daaa3f0.d30ab","type":"ui_toast","z":"c2287cf1.f1006","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"dc358e29.225bb","type":"function","z":"c2287cf1.f1006","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["8daaa3f0.d30ab"]]},{"id":"25f76ee9.aae022","type":"comment","z":"c2287cf1.f1006","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"b43fd89c.464988","type":"comment","z":"c2287cf1.f1006","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"b3978445.0b5e68","type":"ui_toast","z":"c2287cf1.f1006","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"764d802.91a968","type":"function","z":"c2287cf1.f1006","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["b3978445.0b5e68"]]},{"id":"6997afbb.5fbb5","type":"comment","z":"c2287cf1.f1006","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"bb7fadab.5e5b3","type":"ui_toast","z":"c2287cf1.f1006","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"b08008c5.204708","type":"function","z":"c2287cf1.f1006","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["bb7fadab.5e5b3"]]},{"id":"20b50057.748cd","type":"comment","z":"c2287cf1.f1006","name":"Incoming or Repairing","info":"","x":640,"y":140,"wires":[]},{"id":"7e8b83dd.fefb2c","type":"mqtt in","z":"ef334060.da584","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"7bc12edc.e2588","nl":false,"rap":false,"x":350,"y":140,"wires":[["493b6023.cb968"]]},{"id":"9e679d81.13fa7","type":"ui_template","z":"ef334060.da584","group":"25691028.52c6a","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"99faecf2.930b","type":"mqtt out","z":"ef334060.da584","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bc12edc.e2588","x":580,"y":60,"wires":[]},{"id":"3470fa68.a6a0f6","type":"inject","z":"ef334060.da584","name":"Request Device List","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":60,"wires":[["99faecf2.930b"]]},{"id":"9db58260.e1cef","type":"comment","z":"ef334060.da584","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"c504a6d9.be0f88","type":"comment","z":"ef334060.da584","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"493b6023.cb968","type":"json","z":"ef334060.da584","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["9e679d81.13fa7","ec8f578e.d813d8","5fc28354.efa61c"]]},{"id":"62d673de.710fdc","type":"http in","z":"ef334060.da584","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["e07b6d25.d3f88"]]},{"id":"ec8f578e.d813d8","type":"function","z":"ef334060.da584","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"9e2e3a21.508488","type":"http response","z":"ef334060.da584","name":"","x":870,"y":220,"wires":[]},{"id":"e07b6d25.d3f88","type":"function","z":"ef334060.da584","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["9e2e3a21.508488"]]},{"id":"159e20d8.80f35f","type":"comment","z":"ef334060.da584","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"5fc28354.efa61c","type":"function","z":"ef334060.da584","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"279644dc.6dee7c","type":"mqtt in","z":"745da55.b69b05c","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","datatype":"auto","broker":"7bc12edc.e2588","nl":false,"rap":false,"x":270,"y":80,"wires":[["73aeae18.80fcc"]]},{"id":"73aeae18.80fcc","type":"function","z":"745da55.b69b05c","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":80,"wires":[["dd378351.d3647"]]},{"id":"a34a71ef.4217d","type":"ui_template","z":"745da55.b69b05c","group":"40573a59.6ec0c4","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"200af5e2.bc798a","type":"function","z":"745da55.b69b05c","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nif (devicelist)  {\n    msg.payload.numberofdevices = devicelist.length;\n} else {\n    return null\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["a34a71ef.4217d"]]},{"id":"55e501ad.f5a31","type":"inject","z":"745da55.b69b05c","name":"","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":140,"wires":[["200af5e2.bc798a"]]},{"id":"dd378351.d3647","type":"debug","z":"745da55.b69b05c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"4cc29788.d3dfb8","type":"comment","z":"745da55.b69b05c","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"9a06de18.4cfd6","type":"comment","z":"745da55.b69b05c","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"b6701cc1.b20c1","type":"http in","z":"745da55.b69b05c","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["eaa0f59a.9ea2e8"]]},{"id":"91945b7c.338b18","type":"http response","z":"745da55.b69b05c","name":"","x":590,"y":220,"wires":[]},{"id":"eaa0f59a.9ea2e8","type":"function","z":"745da55.b69b05c","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["91945b7c.338b18"]]},{"id":"911973d4.caa7b","type":"comment","z":"745da55.b69b05c","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"e536b93d.38ce58","type":"ui_dropdown","z":"4b20a347.6179ec","name":"","label":"","place":"Select option","group":"4cb35853.cdcde8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["7557b403.7b31cc"]]},{"id":"7557b403.7b31cc","type":"mqtt out","z":"4b20a347.6179ec","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bc12edc.e2588","x":380,"y":60,"wires":[]},{"id":"3d54715b.2d141e","type":"ui_text_input","z":"321dbafd.bfadd6","name":"","label":"Device Name","group":"bbb3596e.f2c6a8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["7bbae970.739f08"]]},{"id":"77e98a80.5cecc4","type":"mqtt out","z":"321dbafd.bfadd6","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bc12edc.e2588","x":1190,"y":60,"wires":[]},{"id":"bba4a9e2.774a58","type":"function","z":"321dbafd.bfadd6","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"7bbae970.739f08","type":"change","z":"321dbafd.bfadd6","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["bba4a9e2.774a58"]]},{"id":"23f4c1c8.b1cdee","type":"function","z":"321dbafd.bfadd6","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["77e98a80.5cecc4"]]},{"id":"2fb6b0f0.c1b22","type":"ui_button","z":"321dbafd.bfadd6","name":"","group":"bbb3596e.f2c6a8","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["23f4c1c8.b1cdee","33ef226e.e110ce"]]},{"id":"4475f491.2a912c","type":"comment","z":"321dbafd.bfadd6","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"ff765b29.6adee8","type":"mqtt in","z":"321dbafd.bfadd6","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"7bc12edc.e2588","nl":false,"rap":false,"x":290,"y":120,"wires":[["745b519f.3cebe"]]},{"id":"745b519f.3cebe","type":"json","z":"321dbafd.bfadd6","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["7ddf8dc.b520d74"]]},{"id":"1e58e32b.ccff3d","type":"ui_toast","z":"321dbafd.bfadd6","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"7ddf8dc.b520d74","type":"function","z":"321dbafd.bfadd6","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["1e58e32b.ccff3d"]]},{"id":"f7da77dc.c6e758","type":"comment","z":"321dbafd.bfadd6","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"f33f2806.7e7f48","type":"ui_toast","z":"321dbafd.bfadd6","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"33ef226e.e110ce","type":"function","z":"321dbafd.bfadd6","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["f33f2806.7e7f48"]]},{"id":"17f72daf.369812","type":"ui_dropdown","z":"8bff0e3.fceb9f","name":"","label":"","tooltip":"","place":"Select option","group":"7b37feaf.b63ae","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["32c724f.65b28dc","2c5e4cc7.f1b534"]]},{"id":"32c724f.65b28dc","type":"mqtt out","z":"8bff0e3.fceb9f","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bc12edc.e2588","x":270,"y":40,"wires":[]},{"id":"4cfd10b0.ff8d6","type":"ui_toast","z":"8bff0e3.fceb9f","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"2c5e4cc7.f1b534","type":"function","z":"8bff0e3.fceb9f","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":100,"wires":[["4cfd10b0.ff8d6"]]},{"id":"b8f2f698.57e568","type":"ui_text_input","z":"e084a6a.4631f58","name":"","label":"Old Name","group":"241ead91.463d32","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["d7eb0922.b84f08"]]},{"id":"94d90d29.f3402","type":"ui_text_input","z":"e084a6a.4631f58","name":"","label":"New Name","group":"241ead91.463d32","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["affaacf8.e5f47"]]},{"id":"42f80cde.64caa4","type":"mqtt out","z":"e084a6a.4631f58","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bc12edc.e2588","x":1010,"y":140,"wires":[]},{"id":"45b3ba5.f047644","type":"function","z":"e084a6a.4631f58","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"d7eb0922.b84f08","type":"change","z":"e084a6a.4631f58","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["45b3ba5.f047644"]]},{"id":"affaacf8.e5f47","type":"change","z":"e084a6a.4631f58","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["f95d60ee.d6ca"]]},{"id":"21cf98b4.9a32f8","type":"function","z":"e084a6a.4631f58","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["42f80cde.64caa4"]]},{"id":"f95d60ee.d6ca","type":"function","z":"e084a6a.4631f58","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"f3b62056.55b2d","type":"ui_button","z":"e084a6a.4631f58","name":"","group":"241ead91.463d32","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["21cf98b4.9a32f8","413a9336.12cf2c"]]},{"id":"2826da46.731886","type":"ui_toast","z":"e084a6a.4631f58","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"413a9336.12cf2c","type":"function","z":"e084a6a.4631f58","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["2826da46.731886"]]},{"id":"d2be8f77.7326a","type":"subflow:e084a6a.4631f58","z":"9f7c9a37.dd0b28","name":"","env":[],"x":550,"y":320,"wires":[]},{"id":"12b79f03.54ddc1","type":"subflow:8bff0e3.fceb9f","z":"9f7c9a37.dd0b28","name":"","env":[],"x":530,"y":280,"wires":[]},{"id":"bbc5a6f7.dde758","type":"subflow:321dbafd.bfadd6","z":"9f7c9a37.dd0b28","name":"","env":[],"x":550,"y":360,"wires":[]},{"id":"2a059d07.c5db22","type":"comment","z":"9f7c9a37.dd0b28","name":"Function","info":"","x":530,"y":240,"wires":[]},{"id":"c6a120ae.fc064","type":"subflow:4b20a347.6179ec","z":"9f7c9a37.dd0b28","name":"","env":[],"x":540,"y":400,"wires":[]},{"id":"9748fef8.41217","type":"subflow:745da55.b69b05c","z":"9f7c9a37.dd0b28","name":"","env":[],"x":520,"y":440,"wires":[]},{"id":"b8612dd3.59558","type":"subflow:ef334060.da584","z":"9f7c9a37.dd0b28","name":"","env":[],"x":520,"y":480,"wires":[]},{"id":"48f768d0.746138","type":"comment","z":"9f7c9a37.dd0b28","name":"Other","info":"","x":780,"y":240,"wires":[]},{"id":"ea0eb635.470828","type":"subflow:c2287cf1.f1006","z":"9f7c9a37.dd0b28","name":"","env":[],"x":820,"y":280,"wires":[]},{"id":"1651116a.3aec8f","type":"subflow:1d7f96d0.a5ef29","z":"9f7c9a37.dd0b28","name":"","env":[],"x":800,"y":340,"wires":[]},{"id":"b25e6d55.9f44d","type":"debug","z":"6bb20d7.44481f4","name":"Main Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"901dc50a.12bf","type":"function","z":"6bb20d7.44481f4","name":"Generate Temps","func":"var lat = [ 29.42, 30.26, 32.77, 36.37, 38.62, 39.09, 41.87, 43.03, 44.97, 41.25];\nvar lon = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar randomTemp = (Math.random() * (30 - (20)) + (20)).toFixed(1);  //random temp from -5 to 30 degree\n\nvar timeIndex = Date.now();\n//This function below gets date and time and displays it via shortDate variable\nvar timeStamp = new Date().toLocaleTimeString();\nvar dateObj= new Date();\nvar newDate = dateObj.getFullYear() + '/' + ('0' + (dateObj.getMonth() + 1)).slice(-2) + '/' + ('0' + dateObj.getDate()).slice(-2) + ' <' + timeStamp + '>';\n\n// var month = ('0' + (dateObj.getMonth() + 1)).slice(-2);\n// var date = ('0' + dateObj.getDate()).slice(-2);\n// var year = dateObj.getFullYear();\n// var dateTime = year + '/' + month + '/' + date + ' <' + timeStamp + '>';\n\nvar idx = context.get('count') || 0;\n\nif( idx > 9 )\n{\n    idx = 0;  \n}\ncontext.set('count',idx+1); //store next idx for later\n\nmsg.payload = \n            {\n            info : {\n               uuid : timeIndex,\n               timeStamp: newDate,\n               company : \"SpatioData\",\n               avgTemp : randomTemp,\n               sensor : \"DHT22\"\n            }\n            };\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["31ac6556.03bb5a","715c2da5.b937a4"]]},{"id":"31ac6556.03bb5a","type":"mqtt out","z":"6bb20d7.44481f4","name":"mqtt - CC2530","topic":"testsak","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bc12edc.e2588","x":780,"y":360,"wires":[]},{"id":"b453c8eb.dfb0e8","type":"inject","z":"6bb20d7.44481f4","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["901dc50a.12bf"]]},{"id":"cdb487ef.d80ed8","type":"influxdb out","z":"6bb20d7.44481f4","influxdb":"350275cb.7a84e2","name":"","measurement":"test_temps","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":300,"wires":[]},{"id":"715c2da5.b937a4","type":"function","z":"6bb20d7.44481f4","name":"Get Temps","func":"msg.payload = {\n    uuid : msg.payload.info.uuid,\n    sensors : \"DHT22\",\n    temperature: parseFloat(msg.payload.info.avgTemp),\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":260,"wires":[["b25e6d55.9f44d","cdb487ef.d80ed8"]]},{"id":"eacddc3e.ecf7","type":"ui_chart","z":"6bb20d7.44481f4","name":"","group":"420ea789.f9e278","order":4,"width":0,"height":0,"label":"Temperature Simulation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":180,"wires":[[]]}]