node-red/flows.json
[
    {
        "id": "d7bc3fab.7a4e8",
        "type": "tab",
        "label": "UniPi - Original",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9896f883.a15a6",
        "type": "tab",
        "label": "UniPi - Tweak",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14a538d3.c817bf",
        "type": "tab",
        "label": "Zigbee - CC2532 Ti",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2fbd42c0.d038ae",
        "type": "tab",
        "label": "fake temp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8dd57283.d7602",
        "type": "subflow",
        "name": "Network Map (4)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "beb6d09d.90147",
        "type": "subflow",
        "name": "Pairing Notifications (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "70dc33e2.ff6b8c",
        "type": "subflow",
        "name": "Devices (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "12f9e98.5a8e317",
        "type": "subflow",
        "name": "Status (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "9a69d1a3.7d6db",
        "type": "subflow",
        "name": "Logging Level (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "15e83bbb.0c767c",
        "type": "subflow",
        "name": "Remove Device (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "89c7559f.91ddd8",
        "type": "subflow",
        "name": "Permit Join (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "90a28baa.e90c08",
        "type": "subflow",
        "name": "Rename Device (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "6455e978.240c88",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:8080/ws",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "147012f0.fc1afd",
        "type": "ui_group",
        "name": "Digital outputs",
        "tab": "ff81c0a2.338b5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c1ff5163.f3269",
        "type": "ui_group",
        "name": "Analog inputs",
        "tab": "ff81c0a2.338b5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "476c4d26.7f5c34",
        "type": "ui_group",
        "name": "Analog outputs",
        "tab": "ff81c0a2.338b5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "420ea789.f9e278",
        "type": "ui_group",
        "name": "Digital inputs",
        "tab": "ff81c0a2.338b5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ff81c0a2.338b5",
        "type": "ui_tab",
        "name": "Unipi",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d5951e14.94c918",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7b6d37d6.824578",
        "type": "zigbee2mqtt-server",
        "name": "zigbee",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "922741d3.52d3d8",
        "type": "ui_group",
        "z": "70dc33e2.ff6b8c",
        "name": "Devices",
        "tab": "2dc431ad.ce14e6",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1614803.0311b8",
        "type": "ui_group",
        "name": "Status",
        "tab": "2dc431ad.ce14e6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7999538b.d14d44",
        "type": "ui_group",
        "z": "9a69d1a3.7d6db",
        "name": "Logging Level",
        "tab": "2dc431ad.ce14e6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b6b475c.92b0e",
        "type": "ui_group",
        "z": "15e83bbb.0c767c",
        "name": "Remove Device",
        "tab": "2dc431ad.ce14e6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "478d3769.9df438",
        "type": "ui_group",
        "name": "Permit Join",
        "tab": "2dc431ad.ce14e6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac815b94.7e1e68",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.5",
        "port": "8883",
        "tls": "7a82d31e.ab407c",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7a82d31e.ab407c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "m2mqtt_srv.crt",
        "keyname": "m2mqtt_srv.key",
        "caname": "m2mqtt_ca.crt",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "159c11ae.4dd906",
        "type": "ui_group",
        "name": "Rename Device",
        "tab": "2dc431ad.ce14e6",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2dc431ad.ce14e6",
        "type": "ui_tab",
        "name": "Zigbee2MQTT Admin Panel",
        "icon": "dashboard"
    },
    {
        "id": "c21ccac0.37f0a8",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "unipi_openhab_db",
        "name": "iot-influxdb",
        "usetls": false,
        "tls": "7a82d31e.ab407c",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "b47228e5.b3db58",
        "type": "websocket out",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "server": "",
        "client": "6455e978.240c88",
        "x": 1580,
        "y": 620,
        "wires": []
    },
    {
        "id": "5d86cc2d.8c7ca4",
        "type": "websocket in",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "server": "",
        "client": "6455e978.240c88",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "10f927f3.0a7678",
                "1e2588f7.210637",
                "27f27c55.7132b4",
                "8f03fb48.c2cca8",
                "d40c6834.a6eb18",
                "e67ee568.e015b8",
                "f373cbc3.fc6a28",
                "bd9a4c80.96771",
                "ec20cd63.a0eea",
                "c5d7384d.07d608"
            ]
        ]
    },
    {
        "id": "10f927f3.0a7678",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.1",
        "alias": "",
        "devices": "input",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 571,
        "y": 260,
        "wires": [
            [
                "5a705260.e7825c"
            ]
        ]
    },
    {
        "id": "110586b9.e39229",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.1",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.01",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "a8720153.74cfc",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.1",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 620,
        "wires": [
            [
                "110586b9.e39229"
            ]
        ]
    },
    {
        "id": "cd482ee8.b2a2f",
        "type": "ui_gauge",
        "z": "d7bc3fab.7a4e8",
        "name": "AI 1.1",
        "group": "c1ff5163.f3269",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AI 1.1",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4",
        "seg2": "6",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "1e2588f7.210637",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "AI 1.1",
        "alias": "",
        "devices": "ai",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "16b49c7a.51c764"
            ]
        ]
    },
    {
        "id": "56e4b50b.bc108c",
        "type": "ui_slider",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "AO 1.1",
        "tooltip": "",
        "group": "476c4d26.7f5c34",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": "0.1",
        "x": 1060,
        "y": 860,
        "wires": [
            [
                "7ce40268.cd53bc"
            ]
        ]
    },
    {
        "id": "7ce40268.cd53bc",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "AO 1.1",
        "cmd": "set",
        "alias": "",
        "devices": "ao",
        "circuits": "1.01",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 860,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "16b49c7a.51c764",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "Round 2 decimals",
        "func": "return {payload: Math.round(msg.payload * 100) / 100}",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "cd482ee8.b2a2f"
            ]
        ]
    },
    {
        "id": "5a705260.e7825c",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "48f47e09.18384"
            ]
        ]
    },
    {
        "id": "48f47e09.18384",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "f373cbc3.fc6a28",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.2",
        "alias": "",
        "devices": "input",
        "circuits": "1.02",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "c60924fb.579068"
            ]
        ]
    },
    {
        "id": "c60924fb.579068",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "x": 789,
        "y": 300,
        "wires": [
            [
                "3bb91e1e.4c1e32"
            ]
        ]
    },
    {
        "id": "3bb91e1e.4c1e32",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1049,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd9a4c80.96771",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.3",
        "alias": "",
        "devices": "input",
        "circuits": "1.03",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "74cf93e6.6434ec"
            ]
        ]
    },
    {
        "id": "74cf93e6.6434ec",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "x": 789,
        "y": 340,
        "wires": [
            [
                "2929f7c1.cf6e28"
            ]
        ]
    },
    {
        "id": "2929f7c1.cf6e28",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1049,
        "y": 340,
        "wires": []
    },
    {
        "id": "ec20cd63.a0eea",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.4",
        "alias": "",
        "devices": "input",
        "circuits": "1.04",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "51c00d2a.40ea54"
            ]
        ]
    },
    {
        "id": "51c00d2a.40ea54",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "x": 789,
        "y": 380,
        "wires": [
            [
                "b937a609.f53998"
            ]
        ]
    },
    {
        "id": "b937a609.f53998",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1049,
        "y": 380,
        "wires": []
    },
    {
        "id": "48159b42.7c72c4",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.2",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.02",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 680,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "80ddb8e4.7f1c98",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.2",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "48159b42.7c72c4"
            ]
        ]
    },
    {
        "id": "fe69f06d.45052",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.3",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.03",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 740,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "bfa27982.6c7a58",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.3",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 740,
        "wires": [
            [
                "fe69f06d.45052"
            ]
        ]
    },
    {
        "id": "1001d6a4.84fd29",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.4",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.04",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 800,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "c0de0edf.3b0e4",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.4",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "1001d6a4.84fd29"
            ]
        ]
    },
    {
        "id": "aa5c30f5.5ca57",
        "type": "inject",
        "z": "d7bc3fab.7a4e8",
        "name": "Ask for current values periodically",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"cmd\":\"all\"}",
        "payloadType": "json",
        "x": 1240,
        "y": 940,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "27f27c55.7132b4",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.1",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 620,
        "wires": [
            [
                "ad1744cf.f45998"
            ]
        ]
    },
    {
        "id": "ad1744cf.f45998",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 620,
        "wires": [
            [
                "a8720153.74cfc"
            ]
        ]
    },
    {
        "id": "8f03fb48.c2cca8",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.2",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.02",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "41328fb5.c6cb7"
            ]
        ]
    },
    {
        "id": "41328fb5.c6cb7",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 680,
        "wires": [
            [
                "80ddb8e4.7f1c98"
            ]
        ]
    },
    {
        "id": "d40c6834.a6eb18",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.3",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.03",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 740,
        "wires": [
            [
                "8611ee26.d8742"
            ]
        ]
    },
    {
        "id": "8611ee26.d8742",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 740,
        "wires": [
            [
                "bfa27982.6c7a58"
            ]
        ]
    },
    {
        "id": "e67ee568.e015b8",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.4",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.04",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 800,
        "wires": [
            [
                "298cbe94.9d7ee2"
            ]
        ]
    },
    {
        "id": "298cbe94.9d7ee2",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 800,
        "wires": [
            [
                "c0de0edf.3b0e4"
            ]
        ]
    },
    {
        "id": "c5d7384d.07d608",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "AO 1.1",
        "alias": "",
        "devices": "ao",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 860,
        "wires": [
            [
                "56e4b50b.bc108c"
            ]
        ]
    },
    {
        "id": "1adb1e0b.c229c2",
        "type": "comment",
        "z": "d7bc3fab.7a4e8",
        "name": "Input section",
        "info": "Reading from websocket channel provided by Evok\nFiltering only the messages for given IO\nFormatting the value to be displayed in the UI\nDisplaying in the UI",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "744cab95.b80ef4",
        "type": "comment",
        "z": "d7bc3fab.7a4e8",
        "name": "Output section",
        "info": "Reading the current state of the IOs\nFormatting the value to be used as an input for UI\nDisplaying the value in UI\nSending the value back to the Evok",
        "x": 590,
        "y": 560,
        "wires": []
    },
    {
        "id": "3e451a31.021a2e",
        "type": "websocket out",
        "z": "9896f883.a15a6",
        "name": "",
        "server": "",
        "client": "6455e978.240c88",
        "x": 1840,
        "y": 1300,
        "wires": []
    },
    {
        "id": "de942133.ec01",
        "type": "websocket in",
        "z": "9896f883.a15a6",
        "name": "",
        "server": "",
        "client": "6455e978.240c88",
        "x": 600,
        "y": 280,
        "wires": [
            [
                "c3789f91.cda678",
                "75ec3940.98315",
                "1a4f5e81.11de31",
                "ae1c9891.9d11f",
                "c6147a7a.7926b8",
                "69be72ef.abecf4",
                "a3f8f5e7.2c982",
                "e37ac39e.5d1de",
                "8623262a.ad68d",
                "ba25fa29.727b"
            ]
        ]
    },
    {
        "id": "ba25fa29.727b",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DI 1.1",
        "alias": "",
        "devices": "input",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 1110,
        "y": 240,
        "wires": [
            [
                "5c2fd6d1.1a5af8"
            ]
        ]
    },
    {
        "id": "1510a61.8d4ae5a",
        "type": "unipi-output",
        "z": "9896f883.a15a6",
        "name": "DO 1.1",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.01",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1460,
        "y": 880,
        "wires": [
            [
                "3e451a31.021a2e",
                "6a8b54f2.e52034"
            ]
        ]
    },
    {
        "id": "35cb64e5.6ede94",
        "type": "ui_switch",
        "z": "9896f883.a15a6",
        "name": "",
        "label": "DO 1.1",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 880,
        "wires": [
            [
                "1510a61.8d4ae5a"
            ]
        ]
    },
    {
        "id": "a47775aa.aea93",
        "type": "ui_gauge",
        "z": "9896f883.a15a6",
        "name": "AI 1.1",
        "group": "c1ff5163.f3269",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AI 1.1",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4",
        "seg2": "6",
        "x": 1610,
        "y": 400,
        "wires": []
    },
    {
        "id": "c3789f91.cda678",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "AI 1.1",
        "alias": "",
        "devices": "ai",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 1110,
        "y": 420,
        "wires": [
            [
                "5e56d49d.9c3204"
            ]
        ]
    },
    {
        "id": "48aac1e1.313498",
        "type": "ui_slider",
        "z": "9896f883.a15a6",
        "name": "",
        "label": "AO 1.1",
        "tooltip": "",
        "group": "476c4d26.7f5c34",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": "0.1",
        "x": 1060,
        "y": 1140,
        "wires": [
            [
                "b8102117.8d89"
            ]
        ]
    },
    {
        "id": "b8102117.8d89",
        "type": "unipi-output",
        "z": "9896f883.a15a6",
        "name": "AO 1.1",
        "cmd": "set",
        "alias": "",
        "devices": "ao",
        "circuits": "1.01",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1340,
        "y": 1140,
        "wires": [
            [
                "3e451a31.021a2e"
            ]
        ]
    },
    {
        "id": "5e56d49d.9c3204",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "Round 2 decimals",
        "func": "var analog_output = \"AI 1.1\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    analog_output : analog_output,\n    timestamp: Date(Date.now()),\n    temps: Math.round(msg.payload * 100) / 100 \n} \n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.return {payload: Math.round(msg.payload * 100) / 100}\n",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 420,
        "wires": [
            [
                "a47775aa.aea93",
                "ed7c94b7.98c1d"
            ]
        ]
    },
    {
        "id": "5c2fd6d1.1a5af8",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To ON/OFF",
        "func": "var digital_input = \"1.1\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1329,
        "y": 240,
        "wires": [
            [
                "6e80d78f.e77f08",
                "ed7c94b7.98c1d",
                "77f2482d.bf369"
            ]
        ]
    },
    {
        "id": "6e80d78f.e77f08",
        "type": "ui_text",
        "z": "9896f883.a15a6",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1589,
        "y": 240,
        "wires": []
    },
    {
        "id": "69be72ef.abecf4",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DI 1.2",
        "alias": "",
        "devices": "input",
        "circuits": "1.02",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 1109,
        "y": 280,
        "wires": [
            [
                "c6ab5108.5d25f8"
            ]
        ]
    },
    {
        "id": "c6ab5108.5d25f8",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To ON/OFF",
        "func": "var digital_input = \"1.2\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 280,
        "wires": [
            [
                "e7ed6029.849e68",
                "ed7c94b7.98c1d",
                "77f2482d.bf369"
            ]
        ]
    },
    {
        "id": "e7ed6029.849e68",
        "type": "ui_text",
        "z": "9896f883.a15a6",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1588,
        "y": 280,
        "wires": []
    },
    {
        "id": "a3f8f5e7.2c982",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DI 1.3",
        "alias": "",
        "devices": "input",
        "circuits": "1.03",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 1109,
        "y": 320,
        "wires": [
            [
                "b3a7be66.cbfe78"
            ]
        ]
    },
    {
        "id": "b3a7be66.cbfe78",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To ON/OFF",
        "func": "var digital_input = \"1.3\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1328,
        "y": 320,
        "wires": [
            [
                "c66493e6.665c5",
                "ed7c94b7.98c1d"
            ]
        ]
    },
    {
        "id": "c66493e6.665c5",
        "type": "ui_text",
        "z": "9896f883.a15a6",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1588,
        "y": 320,
        "wires": []
    },
    {
        "id": "e37ac39e.5d1de",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DI 1.4",
        "alias": "",
        "devices": "input",
        "circuits": "1.04",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 1109,
        "y": 360,
        "wires": [
            [
                "72b6327c.7db744"
            ]
        ]
    },
    {
        "id": "72b6327c.7db744",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To ON/OFF",
        "func": "var digital_input = \"1.4\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\n\nmsg.temperature = {\n    status: msg.value,\n    digital_input : digital_input,\n    timestamp: Date(Date.now()),\n\n} \n\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1328,
        "y": 360,
        "wires": [
            [
                "df9b9030.22b498",
                "ed7c94b7.98c1d"
            ]
        ]
    },
    {
        "id": "df9b9030.22b498",
        "type": "ui_text",
        "z": "9896f883.a15a6",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1588,
        "y": 360,
        "wires": []
    },
    {
        "id": "b0bb2fff.7b9ed8",
        "type": "unipi-output",
        "z": "9896f883.a15a6",
        "name": "DO 1.2",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.02",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1460,
        "y": 940,
        "wires": [
            [
                "3e451a31.021a2e",
                "6a8b54f2.e52034"
            ]
        ]
    },
    {
        "id": "f767c864.a3cb98",
        "type": "ui_switch",
        "z": "9896f883.a15a6",
        "name": "",
        "label": "DO 1.2",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 940,
        "wires": [
            [
                "b0bb2fff.7b9ed8"
            ]
        ]
    },
    {
        "id": "474435bd.b17e84",
        "type": "unipi-output",
        "z": "9896f883.a15a6",
        "name": "DO 1.3",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.03",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1460,
        "y": 1000,
        "wires": [
            [
                "3e451a31.021a2e",
                "6a8b54f2.e52034"
            ]
        ]
    },
    {
        "id": "9f557055.dc4328",
        "type": "ui_switch",
        "z": "9896f883.a15a6",
        "name": "",
        "label": "DO 1.3",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 1000,
        "wires": [
            [
                "474435bd.b17e84"
            ]
        ]
    },
    {
        "id": "3a7d8178.cc7676",
        "type": "unipi-output",
        "z": "9896f883.a15a6",
        "name": "DO 1.4",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.04",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1460,
        "y": 1060,
        "wires": [
            [
                "3e451a31.021a2e",
                "6a8b54f2.e52034"
            ]
        ]
    },
    {
        "id": "748e9755.057b18",
        "type": "ui_switch",
        "z": "9896f883.a15a6",
        "name": "",
        "label": "DO 1.4",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 1060,
        "wires": [
            [
                "3a7d8178.cc7676"
            ]
        ]
    },
    {
        "id": "75ec3940.98315",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DO 1.1",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.01",
        "property": "value",
        "seedev": "1",
        "seecirc": "1",
        "seeorig": "1",
        "x": 660,
        "y": 880,
        "wires": [
            [
                "2f4c586f.a1e82"
            ]
        ]
    },
    {
        "id": "2f4c586f.a1e82",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To boolean",
        "func": "var digital_output = \"1.1\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 880,
        "wires": [
            [
                "35cb64e5.6ede94"
            ]
        ]
    },
    {
        "id": "1a4f5e81.11de31",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DO 1.2",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.02",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 660,
        "y": 940,
        "wires": [
            [
                "4ed0805.940c78"
            ]
        ]
    },
    {
        "id": "4ed0805.940c78",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To boolean",
        "func": "var digital_output = \"1.2\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg\nreturn true",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 940,
        "wires": [
            [
                "f767c864.a3cb98"
            ]
        ]
    },
    {
        "id": "ae1c9891.9d11f",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DO 1.3",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.03",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "ab9bbc1c.c45208"
            ]
        ]
    },
    {
        "id": "ab9bbc1c.c45208",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To boolean",
        "func": "var digital_output = \"1.3\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "9f557055.dc4328"
            ]
        ]
    },
    {
        "id": "c6147a7a.7926b8",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "DO 1.4",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.04",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 660,
        "y": 1060,
        "wires": [
            [
                "8b77f76e.e53db8"
            ]
        ]
    },
    {
        "id": "8b77f76e.e53db8",
        "type": "function",
        "z": "9896f883.a15a6",
        "name": "To boolean",
        "func": "var digital_output = \"1.4\"\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nvar today  = new Date();\nvar date = today.toLocaleDateString(\"fr-FR\", options);\nvar timestamp = new Date().getTime();\nvar value = msg.value\n\nmsg.influxdb = {\n    status: msg.payload,\n    digital_output : digital_output,\n    timestamp: Date(Date.now())\n} \n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1060,
        "wires": [
            [
                "748e9755.057b18"
            ]
        ]
    },
    {
        "id": "8623262a.ad68d",
        "type": "unipi-input",
        "z": "9896f883.a15a6",
        "name": "AO 1.1",
        "alias": "",
        "devices": "ao",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 660,
        "y": 1140,
        "wires": [
            [
                "48aac1e1.313498"
            ]
        ]
    },
    {
        "id": "71fbb606.d8f65",
        "type": "comment",
        "z": "9896f883.a15a6",
        "name": "Input section",
        "info": "Reading from websocket channel provided by Evok\nFiltering only the messages for given IO\nFormatting the value to be displayed in the UI\nDisplaying in the UI",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed7c94b7.98c1d",
        "type": "json",
        "z": "9896f883.a15a6",
        "name": "digital_input_json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1650,
        "y": 460,
        "wires": [
            [
                "2976714c.ddfc2e",
                "74e25619.53e66"
            ]
        ]
    },
    {
        "id": "74e25619.53e66",
        "type": "debug",
        "z": "9896f883.a15a6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 460,
        "wires": []
    },
    {
        "id": "2976714c.ddfc2e",
        "type": "file",
        "z": "9896f883.a15a6",
        "name": "",
        "filename": "/home/unipi/datalog/test2.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1970,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "bd4fe9f0.69d918",
        "type": "file",
        "z": "9896f883.a15a6",
        "name": "json file store in local",
        "filename": "/home/unipi/datalog/test3.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 2020,
        "y": 720,
        "wires": [
            [
                "93bc8e2d.bbd5d"
            ]
        ]
    },
    {
        "id": "6a8b54f2.e52034",
        "type": "json",
        "z": "9896f883.a15a6",
        "name": "digital_output_json",
        "property": "do11",
        "action": "",
        "pretty": true,
        "x": 1790,
        "y": 800,
        "wires": [
            [
                "bd4fe9f0.69d918"
            ]
        ]
    },
    {
        "id": "93bc8e2d.bbd5d",
        "type": "debug",
        "z": "9896f883.a15a6",
        "name": "influxdb - print console",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "influxdb",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2260,
        "y": 720,
        "wires": []
    },
    {
        "id": "be328450.228cf",
        "type": "influxdb in",
        "z": "9896f883.a15a6",
        "influxdb": "c21ccac0.37f0a8",
        "name": "influxdb",
        "query": "SHOW DATABASES;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 1940,
        "y": 1140,
        "wires": [
            [
                "939f66c4.c4e308"
            ]
        ]
    },
    {
        "id": "939f66c4.c4e308",
        "type": "debug",
        "z": "9896f883.a15a6",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2110,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ad43eb3c.6d60d",
        "type": "inject",
        "z": "9896f883.a15a6",
        "name": "show database",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1760,
        "y": 1140,
        "wires": [
            [
                "be328450.228cf"
            ]
        ]
    },
    {
        "id": "77f2482d.bf369",
        "type": "debug",
        "z": "9896f883.a15a6",
        "name": "print",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "temperature",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 600,
        "wires": []
    },
    {
        "id": "2ee87709.513ec",
        "type": "mqtt in",
        "z": "8dd57283.d7602",
        "name": "zigbee2mqtt/out",
        "topic": "zigbee2mqtt/bridge/networkmap/graphviz",
        "qos": "2",
        "datatype": "auto",
        "broker": "d5951e14.94c918",
        "nl": false,
        "rap": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "53f80172.90397"
            ]
        ]
    },
    {
        "id": "c22b5f95.16aa48",
        "type": "http in",
        "z": "8dd57283.d7602",
        "name": "",
        "url": "/adminpanelapi/networkmap/graphviz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "5bac5824.661c1"
            ]
        ]
    },
    {
        "id": "8f1c99e.a6583e8",
        "type": "http response",
        "z": "8dd57283.d7602",
        "name": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "5bac5824.661c1",
        "type": "function",
        "z": "8dd57283.d7602",
        "name": "get from flow",
        "func": "var networkmap = flow.get('networkmap');\n\nmsg.payload = networkmap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "8f1c99e.a6583e8"
            ]
        ]
    },
    {
        "id": "41550228.918e3c",
        "type": "inject",
        "z": "8dd57283.d7602",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "300",
        "topic": "",
        "payload": "graphviz",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6867c9cb.e44cd8"
            ]
        ]
    },
    {
        "id": "53f80172.90397",
        "type": "function",
        "z": "8dd57283.d7602",
        "name": "store in flow",
        "func": "flow.set('networkmap',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6867c9cb.e44cd8",
        "type": "mqtt out",
        "z": "8dd57283.d7602",
        "name": "zigbee2mqtt/in",
        "topic": "zigbee2mqtt/bridge/networkmap",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5951e14.94c918",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "ea2633ff.17e77",
        "type": "http in",
        "z": "8dd57283.d7602",
        "name": "",
        "url": "/adminpanelapi/networkmap/viz/:engine",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "7120fa70.131d9c"
            ]
        ]
    },
    {
        "id": "6542ab52.0abeec",
        "type": "http response",
        "z": "8dd57283.d7602",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e8c6011.e51ce",
        "type": "function",
        "z": "8dd57283.d7602",
        "name": "generate viz html",
        "func": "var html = `<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>NetworkMap</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js\"></script>\n    <script src='https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js'></script>\n    <style>\n    svg {\n      width: 100% !important;\n      height: 100% !important;\n      min-width: 100% !important;\n      min-height: 80% !important;\n    }\n    </style>\n  </head>\n  <body>\n    <div id=\"output\"></div>\n    \n    <script>\n        var graphData = '${(flow.get('networkmap')).replace(/(\\r\\n|\\n|\\r)/gm,\"\")}';\n        var vizOptions = { format: 'svg', engine: '${msg.engine}'}\n        var graph = document.querySelector(\"#output\");\n        var svg = graph.querySelector(\"svg\");\n        if (svg) {\n          graph.removeChild(svg);\n        }        \n\n        var viz = new Viz();\n\n        viz.renderSVGElement(graphData, vizOptions)\n          .then(function(svg) {\n            svg.id = \"svg_output\";\n            graph.appendChild(svg);              \n            \n            panZoom = svgPanZoom(svg, {\n              zoomEnabled: true,\n              controlIconsEnabled: true,\n              contain: true,\n              center: true,\n              minZoom: 0.1\n            });\n\n            svg.addEventListener('paneresize', function(e) {\n              panZoom.resize();\n            }, false);\n            window.addEventListener('resize', function(e) {\n              panZoom.resize();\n            });\n          })\n          .catch(error => {\n            // Create a new Viz instance (@see Caveats page for more info)\n            viz = new Viz();\n  \n            // Possibly display the error\n            console.error(error);\n          });\n    </script>\n  </body>\n</html>\n`\n\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "6542ab52.0abeec"
            ]
        ]
    },
    {
        "id": "7120fa70.131d9c",
        "type": "function",
        "z": "8dd57283.d7602",
        "name": "set engine",
        "func": "var availableEngines = ['circo', 'dot', 'fdp', 'neato', 'osage', 'twopi']\nif(availableEngines.includes(msg.req.params.engine)) { msg.engine = msg.req.params.engine }\nelse { msg.engine = 'dot' }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "7e8c6011.e51ce"
            ]
        ]
    },
    {
        "id": "b09e428.17620c",
        "type": "mqtt in",
        "z": "beb6d09d.90147",
        "name": "zigbee2mqtt/logging",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "datatype": "auto",
        "broker": "d5951e14.94c918",
        "nl": false,
        "rap": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "5463eda0.dc444c"
            ]
        ]
    },
    {
        "id": "5463eda0.dc444c",
        "type": "json",
        "z": "beb6d09d.90147",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "b6db1332.474a68",
                "df01ccb9.2f74e",
                "6f9a601.faa232"
            ]
        ]
    },
    {
        "id": "59e65998.d83c9",
        "type": "ui_toast",
        "z": "beb6d09d.90147",
        "position": "top right",
        "displayTime": "30",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6db1332.474a68",
        "type": "function",
        "z": "beb6d09d.90147",
        "name": "Notification",
        "func": "if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "59e65998.d83c9"
            ]
        ]
    },
    {
        "id": "10a85073.942ec8",
        "type": "comment",
        "z": "beb6d09d.90147",
        "name": "Notification",
        "info": "",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "e01cdad7.8bd88",
        "type": "comment",
        "z": "beb6d09d.90147",
        "name": "Pairing",
        "info": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "586108d7.8256f8",
        "type": "ui_toast",
        "z": "beb6d09d.90147",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "df01ccb9.2f74e",
        "type": "function",
        "z": "beb6d09d.90147",
        "name": "Notification",
        "func": "if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "586108d7.8256f8"
            ]
        ]
    },
    {
        "id": "dc3546e4.7d9a88",
        "type": "comment",
        "z": "beb6d09d.90147",
        "name": "Paired",
        "info": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "623ad5fa.37fae4",
        "type": "ui_toast",
        "z": "beb6d09d.90147",
        "position": "top right",
        "displayTime": "30",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f9a601.faa232",
        "type": "function",
        "z": "beb6d09d.90147",
        "name": "Notification",
        "func": "if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "623ad5fa.37fae4"
            ]
        ]
    },
    {
        "id": "a71beaf5.9f7188",
        "type": "comment",
        "z": "beb6d09d.90147",
        "name": "Incoming or Repairing",
        "info": "",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "9fd2fd58.7c4d48",
        "type": "mqtt in",
        "z": "70dc33e2.ff6b8c",
        "name": "zigbee2mqtt/out devices",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "datatype": "auto",
        "broker": "d5951e14.94c918",
        "nl": false,
        "rap": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "472de943.bce008"
            ]
        ]
    },
    {
        "id": "7aff7453.1aea6c",
        "type": "ui_template",
        "z": "70dc33e2.ff6b8c",
        "group": "922741d3.52d3d8",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "12",
        "format": "<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "389c69df.12311e",
        "type": "mqtt out",
        "z": "70dc33e2.ff6b8c",
        "name": "zigbee2mqtt/in devices",
        "topic": "zigbee2mqtt/bridge/config/devices",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5951e14.94c918",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "e4a1cde0.f2e3f8",
        "type": "inject",
        "z": "70dc33e2.ff6b8c",
        "name": "Request Device List",
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "389c69df.12311e"
            ]
        ]
    },
    {
        "id": "bc37a82e.b06198",
        "type": "comment",
        "z": "70dc33e2.ff6b8c",
        "name": "Request Device List",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "eab53aff.beddc",
        "type": "comment",
        "z": "70dc33e2.ff6b8c",
        "name": "Receive Device List",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "472de943.bce008",
        "type": "json",
        "z": "70dc33e2.ff6b8c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "7aff7453.1aea6c",
                "381d9552.89ba62",
                "469cdfd1.57c908"
            ]
        ]
    },
    {
        "id": "ddb43402.a700e8",
        "type": "http in",
        "z": "70dc33e2.ff6b8c",
        "name": "",
        "url": "/adminpanelapi/devicelist",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "c4897f8f.7b39c"
            ]
        ]
    },
    {
        "id": "381d9552.89ba62",
        "type": "function",
        "z": "70dc33e2.ff6b8c",
        "name": "Store Data",
        "func": "flow.set('devicelist',msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "591e2384.e4c86c",
        "type": "http response",
        "z": "70dc33e2.ff6b8c",
        "name": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "c4897f8f.7b39c",
        "type": "function",
        "z": "70dc33e2.ff6b8c",
        "name": "Get Data",
        "func": "var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 220,
        "wires": [
            [
                "591e2384.e4c86c"
            ]
        ]
    },
    {
        "id": "30e18cba.3c843c",
        "type": "comment",
        "z": "70dc33e2.ff6b8c",
        "name": "HTTP JSON API",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "469cdfd1.57c908",
        "type": "function",
        "z": "70dc33e2.ff6b8c",
        "name": "Store Globally",
        "func": "global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "31a451f7.ca5316",
        "type": "mqtt in",
        "z": "12f9e98.5a8e317",
        "name": "zigbee2mqtt/bridge state",
        "topic": "zigbee2mqtt/bridge/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "d5951e14.94c918",
        "nl": false,
        "rap": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "8525faaf.c8cb4"
            ]
        ]
    },
    {
        "id": "8525faaf.c8cb4",
        "type": "function",
        "z": "12f9e98.5a8e317",
        "name": "Format Data",
        "func": "flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "30981af9.de1b4e"
            ]
        ]
    },
    {
        "id": "50f5799d.dd42f",
        "type": "ui_template",
        "z": "12f9e98.5a8e317",
        "group": "1614803.0311b8",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "2",
        "format": "<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "12e59761.165949",
        "type": "function",
        "z": "12f9e98.5a8e317",
        "name": "Format Data",
        "func": "var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nif (devicelist)  {\n    msg.payload.numberofdevices = devicelist.length;\n} else {\n    return null\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "50f5799d.dd42f"
            ]
        ]
    },
    {
        "id": "92acc1da.050cd8",
        "type": "inject",
        "z": "12f9e98.5a8e317",
        "name": "",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "12e59761.165949"
            ]
        ]
    },
    {
        "id": "30981af9.de1b4e",
        "type": "debug",
        "z": "12f9e98.5a8e317",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "9099b633.3279c8",
        "type": "comment",
        "z": "12f9e98.5a8e317",
        "name": "Get state",
        "info": "",
        "x": 80,
        "y": 80,
        "wires": []
    },
    {
        "id": "e6224861.520b9",
        "type": "comment",
        "z": "12f9e98.5a8e317",
        "name": "Update Web UI on Interval",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "3f265da8.c40652",
        "type": "http in",
        "z": "12f9e98.5a8e317",
        "name": "",
        "url": "/adminpanelapi/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "8936e98f.2d4618"
            ]
        ]
    },
    {
        "id": "aad6ea81.c733d8",
        "type": "http response",
        "z": "12f9e98.5a8e317",
        "name": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "8936e98f.2d4618",
        "type": "function",
        "z": "12f9e98.5a8e317",
        "name": "Get Data",
        "func": "var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "aad6ea81.c733d8"
            ]
        ]
    },
    {
        "id": "9e42ed0b.8828b8",
        "type": "comment",
        "z": "12f9e98.5a8e317",
        "name": "HTTP API",
        "info": "",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "4cb5229c.60290c",
        "type": "ui_dropdown",
        "z": "9a69d1a3.7d6db",
        "name": "",
        "label": "",
        "place": "Select option",
        "group": "7999538b.d14d44",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Info",
                "value": "info",
                "type": "str"
            },
            {
                "label": "Debug",
                "value": "debug",
                "type": "str"
            },
            {
                "label": "Warn",
                "value": "warn",
                "type": "str"
            },
            {
                "label": "Error",
                "value": "error",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "272ca2d9.c1f6be"
            ]
        ]
    },
    {
        "id": "272ca2d9.c1f6be",
        "type": "mqtt out",
        "z": "9a69d1a3.7d6db",
        "name": "zigbee2mqtt/in Logging Level",
        "topic": "zigbee2mqtt/bridge/config/log_level",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5951e14.94c918",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "299a9ddd.406372",
        "type": "ui_text_input",
        "z": "15e83bbb.0c767c",
        "name": "",
        "label": "Device Name",
        "group": "6b6b475c.92b0e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "a9448f6a.877668"
            ]
        ]
    },
    {
        "id": "72fa8db8.ab4c44",
        "type": "mqtt out",
        "z": "15e83bbb.0c767c",
        "name": "zigbee2mqtt/in Remove",
        "topic": "zigbee2mqtt/bridge/config/remove",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5951e14.94c918",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "375c52cb.00f6d6",
        "type": "function",
        "z": "15e83bbb.0c767c",
        "name": "Format Data",
        "func": "flow.set('remove',msg.payload.remove);",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a9448f6a.877668",
        "type": "change",
        "z": "15e83bbb.0c767c",
        "name": "change msg old",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.remove",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "375c52cb.00f6d6"
            ]
        ]
    },
    {
        "id": "dbb880a5.975c6",
        "type": "function",
        "z": "15e83bbb.0c767c",
        "name": "Format Data",
        "func": "var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 60,
        "wires": [
            [
                "72fa8db8.ab4c44"
            ]
        ]
    },
    {
        "id": "6943081f.33f2d",
        "type": "ui_button",
        "z": "15e83bbb.0c767c",
        "name": "",
        "group": "6b6b475c.92b0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "dbb880a5.975c6",
                "921cc7ff.1a7a6"
            ]
        ]
    },
    {
        "id": "482b6b7a.f44f0c",
        "type": "comment",
        "z": "15e83bbb.0c767c",
        "name": "Remove Device",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "d02ee769.2279b",
        "type": "mqtt in",
        "z": "15e83bbb.0c767c",
        "name": "zigbee2mqtt/logging",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "datatype": "auto",
        "broker": "d5951e14.94c918",
        "nl": false,
        "rap": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "4f6a2889.9636e8"
            ]
        ]
    },
    {
        "id": "4f6a2889.9636e8",
        "type": "json",
        "z": "15e83bbb.0c767c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "2201929e.7c7676"
            ]
        ]
    },
    {
        "id": "338041bc.23aa1e",
        "type": "ui_toast",
        "z": "15e83bbb.0c767c",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "2201929e.7c7676",
        "type": "function",
        "z": "15e83bbb.0c767c",
        "name": "Notification",
        "func": "if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "338041bc.23aa1e"
            ]
        ]
    },
    {
        "id": "d599b1bb.8a1a4",
        "type": "comment",
        "z": "15e83bbb.0c767c",
        "name": "Notification",
        "info": "",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "c6a563c7.245e58",
        "type": "ui_toast",
        "z": "15e83bbb.0c767c",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "921cc7ff.1a7a6",
        "type": "function",
        "z": "15e83bbb.0c767c",
        "name": "Notification",
        "func": "var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "c6a563c7.245e58"
            ]
        ]
    },
    {
        "id": "a7e572d0.35e9d8",
        "type": "ui_dropdown",
        "z": "89c7559f.91ddd8",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "478d3769.9df438",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Allow",
                "value": "true",
                "type": "str"
            },
            {
                "label": "Deny",
                "value": "false",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "175d6717.0aac69",
                "2433952.1eafe6a"
            ]
        ]
    },
    {
        "id": "175d6717.0aac69",
        "type": "mqtt out",
        "z": "89c7559f.91ddd8",
        "name": "zigbee2mqtt/in Join",
        "topic": "zigbee2mqtt/bridge/config/permit_join",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5951e14.94c918",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "b70eefae.b137b",
        "type": "ui_toast",
        "z": "89c7559f.91ddd8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "2433952.1eafe6a",
        "type": "function",
        "z": "89c7559f.91ddd8",
        "name": "Notification",
        "func": "if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 100,
        "wires": [
            [
                "b70eefae.b137b"
            ]
        ]
    },
    {
        "id": "23d816bf.a7c822",
        "type": "ui_text_input",
        "z": "90a28baa.e90c08",
        "name": "",
        "label": "Old Name",
        "group": "159c11ae.4dd906",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "439d03a6.67519c"
            ]
        ]
    },
    {
        "id": "c8983872.56b07",
        "type": "ui_text_input",
        "z": "90a28baa.e90c08",
        "name": "",
        "label": "New Name",
        "group": "159c11ae.4dd906",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "7c27eec1.dae32"
            ]
        ]
    },
    {
        "id": "3e94d8c.4162828",
        "type": "mqtt out",
        "z": "90a28baa.e90c08",
        "name": "zigbee2mqtt/in Rename",
        "topic": "zigbee2mqtt/bridge/config/rename",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5951e14.94c918",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "2f7689a.e3926f6",
        "type": "function",
        "z": "90a28baa.e90c08",
        "name": "Format Data",
        "func": "flow.set('oldname',msg.payload.old);",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "439d03a6.67519c",
        "type": "change",
        "z": "90a28baa.e90c08",
        "name": "change msg old",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.old",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "2f7689a.e3926f6"
            ]
        ]
    },
    {
        "id": "7c27eec1.dae32",
        "type": "change",
        "z": "90a28baa.e90c08",
        "name": "change msg new",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.new",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "ac8cedb2.584828"
            ]
        ]
    },
    {
        "id": "899a5f30.52695",
        "type": "function",
        "z": "90a28baa.e90c08",
        "name": "Format Data",
        "func": "var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "3e94d8c.4162828"
            ]
        ]
    },
    {
        "id": "ac8cedb2.584828",
        "type": "function",
        "z": "90a28baa.e90c08",
        "name": "Format Data",
        "func": "flow.set('newname',msg.payload.new);",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "89bc2f61.5bf458",
        "type": "ui_button",
        "z": "90a28baa.e90c08",
        "name": "",
        "group": "159c11ae.4dd906",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rename",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "899a5f30.52695",
                "8b683d92.cb3a1"
            ]
        ]
    },
    {
        "id": "c6d62c11.94da4",
        "type": "ui_toast",
        "z": "90a28baa.e90c08",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "8b683d92.cb3a1",
        "type": "function",
        "z": "90a28baa.e90c08",
        "name": "Notification",
        "func": "var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "c6d62c11.94da4"
            ]
        ]
    },
    {
        "id": "c9ab8dc3.f00e",
        "type": "subflow:90a28baa.e90c08",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "757382c.daf2a7c",
        "type": "subflow:89c7559f.91ddd8",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "5de0c01b.193308",
        "type": "subflow:15e83bbb.0c767c",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "8885e0e1.696578",
        "type": "comment",
        "z": "14a538d3.c817bf",
        "name": "Function",
        "info": "",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f0cf260.0f442e",
        "type": "subflow:9a69d1a3.7d6db",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "160985a5.e53f42",
        "type": "subflow:12f9e98.5a8e317",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "d7388a6d.8681c8",
        "type": "subflow:70dc33e2.ff6b8c",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 520,
        "y": 480,
        "wires": []
    },
    {
        "id": "8cfda06d.8a7368",
        "type": "comment",
        "z": "14a538d3.c817bf",
        "name": "Other",
        "info": "",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "7e466867.04bcb",
        "type": "subflow:beb6d09d.90147",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "bb22b825.eaff78",
        "type": "subflow:8dd57283.d7602",
        "z": "14a538d3.c817bf",
        "name": "",
        "env": [],
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "29432bf9.665d14",
        "type": "debug",
        "z": "2fbd42c0.d038ae",
        "name": "Main Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b3dff02.91ebb",
        "type": "function",
        "z": "2fbd42c0.d038ae",
        "name": "Generate Temps",
        "func": "var lat = [ 29.42, 30.26, 32.77, 36.37, 38.62, 39.09, 41.87, 43.03, 44.97, 41.25];\nvar lon = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar randomTemp = (Math.random() * (30 - (20)) + (20)).toFixed(1);  //random temp from -5 to 30 degree\n\nvar timeIndex = Date.now();\n//This function below gets date and time and displays it via shortDate variable\nvar timeStamp = new Date().toLocaleTimeString();\nvar dateObj= new Date();\nvar newDate = dateObj.getFullYear() + '/' + ('0' + (dateObj.getMonth() + 1)).slice(-2) + '/' + ('0' + dateObj.getDate()).slice(-2) + ' <' + timeStamp + '>';\n\n// var month = ('0' + (dateObj.getMonth() + 1)).slice(-2);\n// var date = ('0' + dateObj.getDate()).slice(-2);\n// var year = dateObj.getFullYear();\n// var dateTime = year + '/' + month + '/' + date + ' <' + timeStamp + '>';\n\nvar idx = context.get('count') || 0;\n\nif( idx > 9 )\n{\n    idx = 0;  \n}\ncontext.set('count',idx+1); //store next idx for later\n\nmsg.payload = \n            {\n            info : {\n               uuid : timeIndex,\n               timeStamp: newDate,\n               company : \"SpatioData\",\n               avgTemp : randomTemp,\n               sensor : \"DHT22\"\n            }\n            };\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "3dd9a656.813ed2",
                "77e02cb1.dc165c"
            ]
        ]
    },
    {
        "id": "3dd9a656.813ed2",
        "type": "mqtt out",
        "z": "2fbd42c0.d038ae",
        "name": "mqtt - CC2530",
        "topic": "testsak",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d5951e14.94c918",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "60a4cea6.695688",
        "type": "inject",
        "z": "2fbd42c0.d038ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "5b3dff02.91ebb"
            ]
        ]
    },
    {
        "id": "77e02cb1.dc165c",
        "type": "function",
        "z": "2fbd42c0.d038ae",
        "name": "Get Temps",
        "func": "msg.payload = {\n    uuid : msg.payload.info.uuid,\n    sensors : \"DHT22\",\n    temperature: parseFloat(msg.payload.info.avgTemp),\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "29432bf9.665d14",
                "2f8e8207.e7ba1e"
            ]
        ]
    },
    {
        "id": "12b0eabe.d0ceed",
        "type": "ui_chart",
        "z": "2fbd42c0.d038ae",
        "name": "",
        "group": "420ea789.f9e278",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature Simulation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1090,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2f8e8207.e7ba1e",
        "type": "influxdb out",
        "z": "2fbd42c0.d038ae",
        "influxdb": "c21ccac0.37f0a8",
        "name": "",
        "measurement": "test_temps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 940,
        "y": 300,
        "wires": []
    }
]