node-red/flows.json
[
    {
        "id": "d7bc3fab.7a4e8",
        "type": "tab",
        "label": "UniPi - InfluxDb",
        "disabled": false,
        "info": ""
    },
    {
        "id": "559ca316.e374e4",
        "type": "tab",
        "label": "DHT22",
        "disabled": false,
        "info": "Fake Temps"
    },
    {
        "id": "c889e48f.c0de78",
        "type": "subflow",
        "name": "Network Map (4)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "3a74a16f.932a2e",
        "type": "subflow",
        "name": "Pairing Notifications (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "18ee9ac0.54c68d",
        "type": "subflow",
        "name": "Devices (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "18d05b79.6c7a45",
        "type": "subflow",
        "name": "Status (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "dddfc13c.2ef78",
        "type": "subflow",
        "name": "Logging Level (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "85fda48f.62176",
        "type": "subflow",
        "name": "Remove Device (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "6df79dc.ad07a64",
        "type": "subflow",
        "name": "Permit Join (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "477a9344.f72e0c",
        "type": "subflow",
        "name": "Rename Device (5)",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "6455e978.240c88",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:8080/ws",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "147012f0.fc1afd",
        "type": "ui_group",
        "name": "Digital outputs",
        "tab": "ff81c0a2.338b5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c1ff5163.f3269",
        "type": "ui_group",
        "name": "Analog inputs",
        "tab": "ff81c0a2.338b5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "476c4d26.7f5c34",
        "type": "ui_group",
        "name": "Analog outputs",
        "tab": "ff81c0a2.338b5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "420ea789.f9e278",
        "type": "ui_group",
        "name": "Digital inputs",
        "tab": "ff81c0a2.338b5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ff81c0a2.338b5",
        "type": "ui_tab",
        "name": "Unipi",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d0d6034f.68aa08",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.72",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "26288e28.8a640a",
        "type": "ui_group",
        "z": "18ee9ac0.54c68d",
        "name": "Devices",
        "tab": "7e255ed3.2ae7c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "be1f9c0f.6d6678",
        "type": "ui_group",
        "name": "Status",
        "tab": "7e255ed3.2ae7c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7d0addf5.4408dc",
        "type": "ui_group",
        "z": "dddfc13c.2ef78",
        "name": "Logging Level",
        "tab": "7e255ed3.2ae7c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8cb423d.374858",
        "type": "ui_group",
        "z": "85fda48f.62176",
        "name": "Remove Device",
        "tab": "7e255ed3.2ae7c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51e22a63.c42a14",
        "type": "ui_group",
        "name": "Permit Join",
        "tab": "7e255ed3.2ae7c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fa659648.8a149",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.72",
        "port": "1883",
        "tls": "da0933cb.bfe83",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "da0933cb.bfe83",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "m2mqtt_srv.crt",
        "keyname": "m2mqtt_srv.key",
        "caname": "m2mqtt_ca.crt",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "3d736442.beff1c",
        "type": "ui_group",
        "name": "Rename Device",
        "tab": "7e255ed3.2ae7c",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7e255ed3.2ae7c",
        "type": "ui_tab",
        "name": "Zigbee2MQTT Admin Panel",
        "icon": "dashboard"
    },
    {
        "id": "f9c582a6.f5609",
        "type": "zigbee2mqtt-server",
        "name": "zigbee",
        "host": "localhost",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "b832d5e6.69526",
        "type": "influxdb",
        "hostname": "192.168.0.72",
        "port": "8086",
        "protocol": "http",
        "database": "unipi_openhab_db",
        "name": "iot-influxdb",
        "usetls": false,
        "tls": "da0933cb.bfe83",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "b47228e5.b3db58",
        "type": "websocket out",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "server": "",
        "client": "6455e978.240c88",
        "x": 1600,
        "y": 880,
        "wires": []
    },
    {
        "id": "5d86cc2d.8c7ca4",
        "type": "websocket in",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "server": "",
        "client": "6455e978.240c88",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "27f27c55.7132b4",
                "8f03fb48.c2cca8",
                "d40c6834.a6eb18",
                "e67ee568.e015b8",
                "f373cbc3.fc6a28",
                "bd9a4c80.96771",
                "c5d7384d.07d608",
                "1e2588f7.210637",
                "ec20cd63.a0eea",
                "10f927f3.0a7678"
            ]
        ]
    },
    {
        "id": "10f927f3.0a7678",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.1",
        "alias": "",
        "devices": "input",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "5a705260.e7825c"
            ]
        ]
    },
    {
        "id": "110586b9.e39229",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.1",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.01",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "b47228e5.b3db58",
                "ef9df281.fdb8a"
            ]
        ]
    },
    {
        "id": "a8720153.74cfc",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.1",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 620,
        "wires": [
            [
                "110586b9.e39229"
            ]
        ]
    },
    {
        "id": "56e4b50b.bc108c",
        "type": "ui_slider",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "AO 1.1",
        "tooltip": "",
        "group": "476c4d26.7f5c34",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": "0.1",
        "x": 1060,
        "y": 860,
        "wires": [
            [
                "7ce40268.cd53bc"
            ]
        ]
    },
    {
        "id": "7ce40268.cd53bc",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "AO 1.1",
        "cmd": "set",
        "alias": "",
        "devices": "ao",
        "circuits": "1.01",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 860,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "5a705260.e7825c",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "48f47e09.18384"
            ]
        ]
    },
    {
        "id": "48f47e09.18384",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "f373cbc3.fc6a28",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.2",
        "alias": "",
        "devices": "input",
        "circuits": "1.02",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "c60924fb.579068"
            ]
        ]
    },
    {
        "id": "c60924fb.579068",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "x": 789,
        "y": 300,
        "wires": [
            [
                "3bb91e1e.4c1e32"
            ]
        ]
    },
    {
        "id": "3bb91e1e.4c1e32",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1049,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd9a4c80.96771",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.3",
        "alias": "",
        "devices": "input",
        "circuits": "1.03",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "74cf93e6.6434ec"
            ]
        ]
    },
    {
        "id": "74cf93e6.6434ec",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "x": 789,
        "y": 340,
        "wires": [
            [
                "2929f7c1.cf6e28"
            ]
        ]
    },
    {
        "id": "2929f7c1.cf6e28",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1049,
        "y": 340,
        "wires": []
    },
    {
        "id": "51c00d2a.40ea54",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To ON/OFF",
        "func": "return {payload: (msg.payload ? \"ON\" : \"OFF\")}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 789,
        "y": 380,
        "wires": [
            [
                "b937a609.f53998"
            ]
        ]
    },
    {
        "id": "48159b42.7c72c4",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.2",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.02",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 680,
        "wires": [
            [
                "b47228e5.b3db58",
                "cf8b50a6.54082"
            ]
        ]
    },
    {
        "id": "80ddb8e4.7f1c98",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.2",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "48159b42.7c72c4"
            ]
        ]
    },
    {
        "id": "fe69f06d.45052",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.3",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.03",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 740,
        "wires": [
            [
                "b47228e5.b3db58",
                "c9b3b2a3.29afd8"
            ]
        ]
    },
    {
        "id": "bfa27982.6c7a58",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.3",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 740,
        "wires": [
            [
                "fe69f06d.45052"
            ]
        ]
    },
    {
        "id": "1001d6a4.84fd29",
        "type": "unipi-output",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.4",
        "cmd": "set",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.04",
        "enableFil": "1",
        "inputFil": "",
        "relayFil": "",
        "digoutFil": "",
        "analoutFil": "",
        "analinFil": "",
        "ledFil": "",
        "x": 1300,
        "y": 800,
        "wires": [
            [
                "b47228e5.b3db58",
                "5863dc17.498d44"
            ]
        ]
    },
    {
        "id": "c0de0edf.3b0e4",
        "type": "ui_switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "label": "DO 1.4",
        "tooltip": "",
        "group": "147012f0.fc1afd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "1001d6a4.84fd29"
            ]
        ]
    },
    {
        "id": "aa5c30f5.5ca57",
        "type": "inject",
        "z": "d7bc3fab.7a4e8",
        "name": "Ask for current values periodically",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"cmd\":\"all\"}",
        "payloadType": "json",
        "x": 1240,
        "y": 940,
        "wires": [
            [
                "b47228e5.b3db58"
            ]
        ]
    },
    {
        "id": "27f27c55.7132b4",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.1",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 620,
        "wires": [
            [
                "ad1744cf.f45998"
            ]
        ]
    },
    {
        "id": "ad1744cf.f45998",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 620,
        "wires": [
            [
                "a8720153.74cfc"
            ]
        ]
    },
    {
        "id": "8f03fb48.c2cca8",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.2",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.02",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "41328fb5.c6cb7"
            ]
        ]
    },
    {
        "id": "41328fb5.c6cb7",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 680,
        "wires": [
            [
                "80ddb8e4.7f1c98"
            ]
        ]
    },
    {
        "id": "d40c6834.a6eb18",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.3",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.03",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 740,
        "wires": [
            [
                "8611ee26.d8742"
            ]
        ]
    },
    {
        "id": "8611ee26.d8742",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 740,
        "wires": [
            [
                "bfa27982.6c7a58"
            ]
        ]
    },
    {
        "id": "e67ee568.e015b8",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DO 1.4",
        "alias": "",
        "devices": "relay_do",
        "circuits": "1.04",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 800,
        "wires": [
            [
                "298cbe94.9d7ee2"
            ]
        ]
    },
    {
        "id": "298cbe94.9d7ee2",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "To boolean",
        "func": "return {payload: (msg.payload == 1 ? true : false)}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 800,
        "wires": [
            [
                "c0de0edf.3b0e4"
            ]
        ]
    },
    {
        "id": "c5d7384d.07d608",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "AO 1.1",
        "alias": "",
        "devices": "ao",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 580,
        "y": 860,
        "wires": [
            [
                "56e4b50b.bc108c"
            ]
        ]
    },
    {
        "id": "1adb1e0b.c229c2",
        "type": "comment",
        "z": "d7bc3fab.7a4e8",
        "name": "Input section",
        "info": "Reading from websocket channel provided by Evok\nFiltering only the messages for given IO\nFormatting the value to be displayed in the UI\nDisplaying in the UI",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "744cab95.b80ef4",
        "type": "comment",
        "z": "d7bc3fab.7a4e8",
        "name": "Output section",
        "info": "Reading the current state of the IOs\nFormatting the value to be used as an input for UI\nDisplaying the value in UI\nSending the value back to the Evok",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "b982a0a1.57a708",
        "type": "debug",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 620,
        "wires": []
    },
    {
        "id": "ef9df281.fdb8a",
        "type": "json",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1530,
        "y": 620,
        "wires": [
            [
                "8b2e5358.bc4ac8"
            ]
        ]
    },
    {
        "id": "8b2e5358.bc4ac8",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "func": "let timestamp = Math.round(+new Date() / 1000);\n\nmsg.payload = { \n    cmd: msg.payload[\"cmd\"],\n    dev: msg.payload[\"dev\"],\n    circuit: msg.payload[\"circuit\"],\n    value: msg.payload[\"value\"],\n    name: \"lights bedroom\",\n    unipi_name: \"Digital Output 1.01\",\n    timestamp: timestamp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 620,
        "wires": [
            [
                "b982a0a1.57a708",
                "e650a48e.42d678"
            ]
        ]
    },
    {
        "id": "f5fa7649.29c7b8",
        "type": "debug",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 680,
        "wires": []
    },
    {
        "id": "cf8b50a6.54082",
        "type": "json",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1530,
        "y": 680,
        "wires": [
            [
                "383d613f.6950a6"
            ]
        ]
    },
    {
        "id": "383d613f.6950a6",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "func": "let timestamp = Math.round(+new Date() / 1000);\n\nmsg.payload = { \n    cmd: msg.payload[\"cmd\"],\n    dev: msg.payload[\"dev\"],\n    circuit: msg.payload[\"circuit\"],\n    value: msg.payload[\"value\"],\n    name: \"lights bedroom\",\n    unipi_name: \"Digital Output 1.02\",\n    timestamp: timestamp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 680,
        "wires": [
            [
                "f5fa7649.29c7b8",
                "e650a48e.42d678"
            ]
        ]
    },
    {
        "id": "ca16e1e5.69dcd",
        "type": "debug",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 740,
        "wires": []
    },
    {
        "id": "c9b3b2a3.29afd8",
        "type": "json",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1530,
        "y": 740,
        "wires": [
            [
                "1b4a6947.d1360f"
            ]
        ]
    },
    {
        "id": "1b4a6947.d1360f",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "func": "let timestamp = Math.round(+new Date() / 1000);\n\nmsg.payload = { \n    cmd: msg.payload[\"cmd\"],\n    dev: msg.payload[\"dev\"],\n    circuit: msg.payload[\"circuit\"],\n    value: msg.payload[\"value\"],\n    name: \"Outdoor Lights\",\n    unipi_name: \"Digital Output 1.03\",\n    timestamp: timestamp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 740,
        "wires": [
            [
                "ca16e1e5.69dcd",
                "e650a48e.42d678"
            ]
        ]
    },
    {
        "id": "4a2b1f9b.b58458",
        "type": "debug",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 800,
        "wires": []
    },
    {
        "id": "5863dc17.498d44",
        "type": "json",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1530,
        "y": 800,
        "wires": [
            [
                "39f8a77c.4b3588"
            ]
        ]
    },
    {
        "id": "39f8a77c.4b3588",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "func": "let timestamp = Math.round(+new Date() / 1000);\n\nmsg.payload = { \n    cmd: msg.payload[\"cmd\"],\n    dev: msg.payload[\"dev\"],\n    circuit: msg.payload[\"circuit\"],\n    value: msg.payload[\"value\"],\n    name: \"Garage Lights\",\n    unipi_name: \"Digital Output 1.04\",\n    timestamp: timestamp\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 800,
        "wires": [
            [
                "4a2b1f9b.b58458",
                "e650a48e.42d678"
            ]
        ]
    },
    {
        "id": "ff7f2b77.f2973",
        "type": "debug",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1040,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd482ee8.b2a2f",
        "type": "ui_gauge",
        "z": "d7bc3fab.7a4e8",
        "name": "AI 1.1",
        "group": "c1ff5163.f3269",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AI 1.1",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4",
        "seg2": "6",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "16b49c7a.51c764",
        "type": "function",
        "z": "d7bc3fab.7a4e8",
        "name": "Round 2 decimals",
        "func": "return {payload: Math.round(msg.payload * 100) / 100}",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "cd482ee8.b2a2f"
            ]
        ]
    },
    {
        "id": "1e2588f7.210637",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "AI 1.1",
        "alias": "",
        "devices": "ai",
        "circuits": "1.01",
        "property": "value",
        "seedev": "0",
        "seecirc": "0",
        "seeorig": "0",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "16b49c7a.51c764"
            ]
        ]
    },
    {
        "id": "816c9082.d3e24",
        "type": "mqtt in",
        "z": "c889e48f.c0de78",
        "name": "zigbee2mqtt/out",
        "topic": "zigbee2mqtt/bridge/networkmap/graphviz",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0d6034f.68aa08",
        "nl": false,
        "rap": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "93d97544.93b39"
            ]
        ]
    },
    {
        "id": "16db40d0.6c59e7",
        "type": "http in",
        "z": "c889e48f.c0de78",
        "name": "",
        "url": "/adminpanelapi/networkmap/graphviz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "7328060b.e9e9a"
            ]
        ]
    },
    {
        "id": "52c1aec6.ea6cf",
        "type": "http response",
        "z": "c889e48f.c0de78",
        "name": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "7328060b.e9e9a",
        "type": "function",
        "z": "c889e48f.c0de78",
        "name": "get from flow",
        "func": "var networkmap = flow.get('networkmap');\n\nmsg.payload = networkmap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "52c1aec6.ea6cf"
            ]
        ]
    },
    {
        "id": "4e72996.8da8468",
        "type": "inject",
        "z": "c889e48f.c0de78",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "300",
        "topic": "",
        "payload": "graphviz",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "e79640eb.4d5aa"
            ]
        ]
    },
    {
        "id": "93d97544.93b39",
        "type": "function",
        "z": "c889e48f.c0de78",
        "name": "store in flow",
        "func": "flow.set('networkmap',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e79640eb.4d5aa",
        "type": "mqtt out",
        "z": "c889e48f.c0de78",
        "name": "zigbee2mqtt/in",
        "topic": "zigbee2mqtt/bridge/networkmap",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d6034f.68aa08",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "f5181d0f.919898",
        "type": "http in",
        "z": "c889e48f.c0de78",
        "name": "",
        "url": "/adminpanelapi/networkmap/viz/:engine",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "7ee4a4f4.d8f27c"
            ]
        ]
    },
    {
        "id": "80faaff5.e827c",
        "type": "http response",
        "z": "c889e48f.c0de78",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "40fcb30.581494c",
        "type": "function",
        "z": "c889e48f.c0de78",
        "name": "generate viz html",
        "func": "var html = `<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>NetworkMap</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js\"></script>\n    <script src='https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js'></script>\n    <style>\n    svg {\n      width: 100% !important;\n      height: 100% !important;\n      min-width: 100% !important;\n      min-height: 80% !important;\n    }\n    </style>\n  </head>\n  <body>\n    <div id=\"output\"></div>\n    \n    <script>\n        var graphData = '${(flow.get('networkmap')).replace(/(\\r\\n|\\n|\\r)/gm,\"\")}';\n        var vizOptions = { format: 'svg', engine: '${msg.engine}'}\n        var graph = document.querySelector(\"#output\");\n        var svg = graph.querySelector(\"svg\");\n        if (svg) {\n          graph.removeChild(svg);\n        }        \n\n        var viz = new Viz();\n\n        viz.renderSVGElement(graphData, vizOptions)\n          .then(function(svg) {\n            svg.id = \"svg_output\";\n            graph.appendChild(svg);              \n            \n            panZoom = svgPanZoom(svg, {\n              zoomEnabled: true,\n              controlIconsEnabled: true,\n              contain: true,\n              center: true,\n              minZoom: 0.1\n            });\n\n            svg.addEventListener('paneresize', function(e) {\n              panZoom.resize();\n            }, false);\n            window.addEventListener('resize', function(e) {\n              panZoom.resize();\n            });\n          })\n          .catch(error => {\n            // Create a new Viz instance (@see Caveats page for more info)\n            viz = new Viz();\n  \n            // Possibly display the error\n            console.error(error);\n          });\n    </script>\n  </body>\n</html>\n`\n\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "80faaff5.e827c"
            ]
        ]
    },
    {
        "id": "7ee4a4f4.d8f27c",
        "type": "function",
        "z": "c889e48f.c0de78",
        "name": "set engine",
        "func": "var availableEngines = ['circo', 'dot', 'fdp', 'neato', 'osage', 'twopi']\nif(availableEngines.includes(msg.req.params.engine)) { msg.engine = msg.req.params.engine }\nelse { msg.engine = 'dot' }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "40fcb30.581494c"
            ]
        ]
    },
    {
        "id": "e11cabd6.069f6",
        "type": "mqtt in",
        "z": "3a74a16f.932a2e",
        "name": "zigbee2mqtt/logging",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0d6034f.68aa08",
        "nl": false,
        "rap": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "1ce8d587.6f771a"
            ]
        ]
    },
    {
        "id": "1ce8d587.6f771a",
        "type": "json",
        "z": "3a74a16f.932a2e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "2dd0f416.fd8004",
                "27bfaf50.4eab88",
                "7640793a.3034c8"
            ]
        ]
    },
    {
        "id": "e888a29.98fd6e",
        "type": "ui_toast",
        "z": "3a74a16f.932a2e",
        "position": "top right",
        "displayTime": "30",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "2dd0f416.fd8004",
        "type": "function",
        "z": "3a74a16f.932a2e",
        "name": "Notification",
        "func": "if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "e888a29.98fd6e"
            ]
        ]
    },
    {
        "id": "32a74743.f07e3",
        "type": "comment",
        "z": "3a74a16f.932a2e",
        "name": "Notification",
        "info": "",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "fbbc3df2.9f9fa8",
        "type": "comment",
        "z": "3a74a16f.932a2e",
        "name": "Pairing",
        "info": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "2c3d21e6.ed490e",
        "type": "ui_toast",
        "z": "3a74a16f.932a2e",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "27bfaf50.4eab88",
        "type": "function",
        "z": "3a74a16f.932a2e",
        "name": "Notification",
        "func": "if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "2c3d21e6.ed490e"
            ]
        ]
    },
    {
        "id": "f5746ab1.5de208",
        "type": "comment",
        "z": "3a74a16f.932a2e",
        "name": "Paired",
        "info": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "1721b00a.cbb88",
        "type": "ui_toast",
        "z": "3a74a16f.932a2e",
        "position": "top right",
        "displayTime": "30",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "7640793a.3034c8",
        "type": "function",
        "z": "3a74a16f.932a2e",
        "name": "Notification",
        "func": "if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "1721b00a.cbb88"
            ]
        ]
    },
    {
        "id": "48487f61.b77f7",
        "type": "comment",
        "z": "3a74a16f.932a2e",
        "name": "Incoming or Repairing",
        "info": "",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "2cd4f1a5.31ac66",
        "type": "mqtt in",
        "z": "18ee9ac0.54c68d",
        "name": "zigbee2mqtt/out devices",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0d6034f.68aa08",
        "nl": false,
        "rap": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "22a9a234.d35e16"
            ]
        ]
    },
    {
        "id": "943d41c4.3d647",
        "type": "ui_template",
        "z": "18ee9ac0.54c68d",
        "group": "26288e28.8a640a",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "12",
        "format": "<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b69619b6.e6158",
        "type": "mqtt out",
        "z": "18ee9ac0.54c68d",
        "name": "zigbee2mqtt/in devices",
        "topic": "zigbee2mqtt/bridge/config/devices",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d6034f.68aa08",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "7cdcf6.afb3b30c",
        "type": "inject",
        "z": "18ee9ac0.54c68d",
        "name": "Request Device List",
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "b69619b6.e6158"
            ]
        ]
    },
    {
        "id": "6da62cbd.a8dccc",
        "type": "comment",
        "z": "18ee9ac0.54c68d",
        "name": "Request Device List",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3a92ea8.baee4",
        "type": "comment",
        "z": "18ee9ac0.54c68d",
        "name": "Receive Device List",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "22a9a234.d35e16",
        "type": "json",
        "z": "18ee9ac0.54c68d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "943d41c4.3d647",
                "2d32823a.371e8e",
                "3f2da84a.db546"
            ]
        ]
    },
    {
        "id": "5939495a.e27ea",
        "type": "http in",
        "z": "18ee9ac0.54c68d",
        "name": "",
        "url": "/adminpanelapi/devicelist",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "c946b05f.2422b"
            ]
        ]
    },
    {
        "id": "2d32823a.371e8e",
        "type": "function",
        "z": "18ee9ac0.54c68d",
        "name": "Store Data",
        "func": "flow.set('devicelist',msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3209ab41.569f34",
        "type": "http response",
        "z": "18ee9ac0.54c68d",
        "name": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "c946b05f.2422b",
        "type": "function",
        "z": "18ee9ac0.54c68d",
        "name": "Get Data",
        "func": "var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 220,
        "wires": [
            [
                "3209ab41.569f34"
            ]
        ]
    },
    {
        "id": "39238857.418b5",
        "type": "comment",
        "z": "18ee9ac0.54c68d",
        "name": "HTTP JSON API",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "3f2da84a.db546",
        "type": "function",
        "z": "18ee9ac0.54c68d",
        "name": "Store Globally",
        "func": "global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "db862a1a.b8ffe",
        "type": "mqtt in",
        "z": "18d05b79.6c7a45",
        "name": "zigbee2mqtt/bridge state",
        "topic": "zigbee2mqtt/bridge/state",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0d6034f.68aa08",
        "nl": false,
        "rap": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "c25631f9.e18a6"
            ]
        ]
    },
    {
        "id": "c25631f9.e18a6",
        "type": "function",
        "z": "18d05b79.6c7a45",
        "name": "Format Data",
        "func": "flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "8c532457.f8898"
            ]
        ]
    },
    {
        "id": "d83a1193.b50f5",
        "type": "ui_template",
        "z": "18d05b79.6c7a45",
        "group": "be1f9c0f.6d6678",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "2",
        "format": "<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9e3f3ed.34dd44",
        "type": "function",
        "z": "18d05b79.6c7a45",
        "name": "Format Data",
        "func": "var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nif (devicelist)  {\n    msg.payload.numberofdevices = devicelist.length;\n} else {\n    return null\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "d83a1193.b50f5"
            ]
        ]
    },
    {
        "id": "8f09b57d.146",
        "type": "inject",
        "z": "18d05b79.6c7a45",
        "name": "",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "9e3f3ed.34dd44"
            ]
        ]
    },
    {
        "id": "8c532457.f8898",
        "type": "debug",
        "z": "18d05b79.6c7a45",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "3cb0ee36.fdf992",
        "type": "comment",
        "z": "18d05b79.6c7a45",
        "name": "Get state",
        "info": "",
        "x": 80,
        "y": 80,
        "wires": []
    },
    {
        "id": "dd831498.7d752",
        "type": "comment",
        "z": "18d05b79.6c7a45",
        "name": "Update Web UI on Interval",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "b9a53115.91caf",
        "type": "http in",
        "z": "18d05b79.6c7a45",
        "name": "",
        "url": "/adminpanelapi/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "8e4da037.eb3828"
            ]
        ]
    },
    {
        "id": "b1b2f8f6.e41b28",
        "type": "http response",
        "z": "18d05b79.6c7a45",
        "name": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "8e4da037.eb3828",
        "type": "function",
        "z": "18d05b79.6c7a45",
        "name": "Get Data",
        "func": "var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "b1b2f8f6.e41b28"
            ]
        ]
    },
    {
        "id": "5788b697.d08048",
        "type": "comment",
        "z": "18d05b79.6c7a45",
        "name": "HTTP API",
        "info": "",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "ef65c949.92f74",
        "type": "ui_dropdown",
        "z": "dddfc13c.2ef78",
        "name": "",
        "label": "",
        "place": "Select option",
        "group": "7d0addf5.4408dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Info",
                "value": "info",
                "type": "str"
            },
            {
                "label": "Debug",
                "value": "debug",
                "type": "str"
            },
            {
                "label": "Warn",
                "value": "warn",
                "type": "str"
            },
            {
                "label": "Error",
                "value": "error",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "6b4b4a08.742504"
            ]
        ]
    },
    {
        "id": "6b4b4a08.742504",
        "type": "mqtt out",
        "z": "dddfc13c.2ef78",
        "name": "zigbee2mqtt/in Logging Level",
        "topic": "zigbee2mqtt/bridge/config/log_level",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d6034f.68aa08",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "fe6217f1.ffe378",
        "type": "ui_text_input",
        "z": "85fda48f.62176",
        "name": "",
        "label": "Device Name",
        "group": "b8cb423d.374858",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "2bb974bc.70e674"
            ]
        ]
    },
    {
        "id": "91d1aa71.1cb528",
        "type": "mqtt out",
        "z": "85fda48f.62176",
        "name": "zigbee2mqtt/in Remove",
        "topic": "zigbee2mqtt/bridge/config/remove",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d6034f.68aa08",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "95446f7b.18fbd8",
        "type": "function",
        "z": "85fda48f.62176",
        "name": "Format Data",
        "func": "flow.set('remove',msg.payload.remove);",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2bb974bc.70e674",
        "type": "change",
        "z": "85fda48f.62176",
        "name": "change msg old",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.remove",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "95446f7b.18fbd8"
            ]
        ]
    },
    {
        "id": "554cc8f0.432ff8",
        "type": "function",
        "z": "85fda48f.62176",
        "name": "Format Data",
        "func": "var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 60,
        "wires": [
            [
                "91d1aa71.1cb528"
            ]
        ]
    },
    {
        "id": "74883d22.bc8674",
        "type": "ui_button",
        "z": "85fda48f.62176",
        "name": "",
        "group": "b8cb423d.374858",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "554cc8f0.432ff8",
                "c519e0c0.0e1c2"
            ]
        ]
    },
    {
        "id": "9352dbe8.5fd",
        "type": "comment",
        "z": "85fda48f.62176",
        "name": "Remove Device",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "b1cd4434.02cd7",
        "type": "mqtt in",
        "z": "85fda48f.62176",
        "name": "zigbee2mqtt/logging",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0d6034f.68aa08",
        "nl": false,
        "rap": false,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "8dd1e92.5c28418"
            ]
        ]
    },
    {
        "id": "8dd1e92.5c28418",
        "type": "json",
        "z": "85fda48f.62176",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "9f4a6e26.2f9718"
            ]
        ]
    },
    {
        "id": "f00e8ddf.6e9ad",
        "type": "ui_toast",
        "z": "85fda48f.62176",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f4a6e26.2f9718",
        "type": "function",
        "z": "85fda48f.62176",
        "name": "Notification",
        "func": "if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "f00e8ddf.6e9ad"
            ]
        ]
    },
    {
        "id": "7d4e450f.5a381c",
        "type": "comment",
        "z": "85fda48f.62176",
        "name": "Notification",
        "info": "",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb584704.7534b8",
        "type": "ui_toast",
        "z": "85fda48f.62176",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "c519e0c0.0e1c2",
        "type": "function",
        "z": "85fda48f.62176",
        "name": "Notification",
        "func": "var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "cb584704.7534b8"
            ]
        ]
    },
    {
        "id": "79123122.8e4d9",
        "type": "ui_dropdown",
        "z": "6df79dc.ad07a64",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "51e22a63.c42a14",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Allow",
                "value": "true",
                "type": "str"
            },
            {
                "label": "Deny",
                "value": "false",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "5615b064.7da17",
                "14865cb1.9d7373"
            ]
        ]
    },
    {
        "id": "5615b064.7da17",
        "type": "mqtt out",
        "z": "6df79dc.ad07a64",
        "name": "zigbee2mqtt/in Join",
        "topic": "zigbee2mqtt/bridge/config/permit_join",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d6034f.68aa08",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "9fe87800.725ef8",
        "type": "ui_toast",
        "z": "6df79dc.ad07a64",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "14865cb1.9d7373",
        "type": "function",
        "z": "6df79dc.ad07a64",
        "name": "Notification",
        "func": "if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 100,
        "wires": [
            [
                "9fe87800.725ef8"
            ]
        ]
    },
    {
        "id": "7538cca4.305d44",
        "type": "ui_text_input",
        "z": "477a9344.f72e0c",
        "name": "",
        "label": "Old Name",
        "group": "3d736442.beff1c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "f7fd7851.a9b338"
            ]
        ]
    },
    {
        "id": "f86ba9d1.242898",
        "type": "ui_text_input",
        "z": "477a9344.f72e0c",
        "name": "",
        "label": "New Name",
        "group": "3d736442.beff1c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "68d6c502.bf1abc"
            ]
        ]
    },
    {
        "id": "1dcf01b5.e4196e",
        "type": "mqtt out",
        "z": "477a9344.f72e0c",
        "name": "zigbee2mqtt/in Rename",
        "topic": "zigbee2mqtt/bridge/config/rename",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d6034f.68aa08",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "eee20b42.707698",
        "type": "function",
        "z": "477a9344.f72e0c",
        "name": "Format Data",
        "func": "flow.set('oldname',msg.payload.old);",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f7fd7851.a9b338",
        "type": "change",
        "z": "477a9344.f72e0c",
        "name": "change msg old",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.old",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "eee20b42.707698"
            ]
        ]
    },
    {
        "id": "68d6c502.bf1abc",
        "type": "change",
        "z": "477a9344.f72e0c",
        "name": "change msg new",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.new",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "b029f1eb.7f1f88"
            ]
        ]
    },
    {
        "id": "96921bd5.fc01f8",
        "type": "function",
        "z": "477a9344.f72e0c",
        "name": "Format Data",
        "func": "var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "1dcf01b5.e4196e"
            ]
        ]
    },
    {
        "id": "b029f1eb.7f1f88",
        "type": "function",
        "z": "477a9344.f72e0c",
        "name": "Format Data",
        "func": "flow.set('newname',msg.payload.new);",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "111a6405.2d93cc",
        "type": "ui_button",
        "z": "477a9344.f72e0c",
        "name": "",
        "group": "3d736442.beff1c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rename",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "96921bd5.fc01f8",
                "80a5540c.a19d8"
            ]
        ]
    },
    {
        "id": "6c7d6d73.30ebfc",
        "type": "ui_toast",
        "z": "477a9344.f72e0c",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "80a5540c.a19d8",
        "type": "function",
        "z": "477a9344.f72e0c",
        "name": "Notification",
        "func": "var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "6c7d6d73.30ebfc"
            ]
        ]
    },
    {
        "id": "20fd19f2.89b03e",
        "type": "debug",
        "z": "559ca316.e374e4",
        "name": "Main Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "a48d352f.91b488",
        "type": "function",
        "z": "559ca316.e374e4",
        "name": "Generate Temps",
        "func": "var lat = [ 29.42, 30.26, 32.77, 36.37, 38.62, 39.09, 41.87, 43.03, 44.97, 41.25];\nvar lon = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar randomTemp = (Math.random() * (30 - (20)) + (20)).toFixed(1);  //random temp from -5 to 30 degree\n\nvar timeIndex = Date.now();\n//This function below gets date and time and displays it via shortDate variable\nvar timeStamp = new Date().toLocaleTimeString();\nvar dateObj= new Date();\nvar newDate = dateObj.getFullYear() + '/' + ('0' + (dateObj.getMonth() + 1)).slice(-2) + '/' + ('0' + dateObj.getDate()).slice(-2) + ' <' + timeStamp + '>';\n\n// var month = ('0' + (dateObj.getMonth() + 1)).slice(-2);\n// var date = ('0' + dateObj.getDate()).slice(-2);\n// var year = dateObj.getFullYear();\n// var dateTime = year + '/' + month + '/' + date + ' <' + timeStamp + '>';\n\nvar idx = context.get('count') || 0;\n\nif( idx > 9 )\n{\n    idx = 0;  \n}\ncontext.set('count',idx+1); //store next idx for later\n\nmsg.payload = \n            {\n            info : {\n               uuid : timeIndex,\n               timeStamp: newDate,\n               company : \"SpatioData\",\n               avgTemp : randomTemp,\n               sensor : \"DHT22\"\n            }\n            };\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "bf603cef.b5132"
            ]
        ]
    },
    {
        "id": "be7b1cf9.ca3238",
        "type": "mqtt out",
        "z": "559ca316.e374e4",
        "name": "mqtt - CC2530",
        "topic": "mqtt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0d6034f.68aa08",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "825ea9fa.436b2",
        "type": "inject",
        "z": "559ca316.e374e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "a48d352f.91b488"
            ]
        ]
    },
    {
        "id": "bf603cef.b5132",
        "type": "function",
        "z": "559ca316.e374e4",
        "name": "Get Temps",
        "func": "msg.payload = {\n    uuid : msg.payload.info.uuid,\n    sensors : \"DHT22\",\n    temperature: parseFloat(msg.payload.info.avgTemp),\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 260,
        "wires": [
            [
                "20fd19f2.89b03e",
                "4f8598ff.dc9e88",
                "3ef90e66.29393a"
            ]
        ]
    },
    {
        "id": "4f8598ff.dc9e88",
        "type": "ui_chart",
        "z": "559ca316.e374e4",
        "name": "",
        "group": "420ea789.f9e278",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature Simulation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3ef90e66.29393a",
        "type": "influxdb out",
        "z": "559ca316.e374e4",
        "influxdb": "b832d5e6.69526",
        "name": "",
        "measurement": "dht22_temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "eb9edcf5.50e068",
        "type": "inject",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "f2d7da76.41612"
            ]
        ]
    },
    {
        "id": "ec20cd63.a0eea",
        "type": "unipi-input",
        "z": "d7bc3fab.7a4e8",
        "name": "DI 1.4",
        "alias": "",
        "devices": "input",
        "circuits": "1.04",
        "property": "value",
        "seedev": "1",
        "seecirc": "1",
        "seeorig": "1",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "51c00d2a.40ea54"
            ]
        ]
    },
    {
        "id": "b937a609.f53998",
        "type": "ui_text",
        "z": "d7bc3fab.7a4e8",
        "group": "420ea789.f9e278",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DI 1.4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1049,
        "y": 380,
        "wires": []
    },
    {
        "id": "107f0f3d.54f549",
        "type": "inject",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "f2d7da76.41612"
            ]
        ]
    },
    {
        "id": "f2d7da76.41612",
        "type": "switch",
        "z": "d7bc3fab.7a4e8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "ff7f2b77.f2973"
            ],
            [
                "ff7f2b77.f2973"
            ]
        ]
    },
    {
        "id": "e650a48e.42d678",
        "type": "influxdb out",
        "z": "d7bc3fab.7a4e8",
        "influxdb": "b832d5e6.69526",
        "name": "",
        "measurement": "unipi_digital_outputs",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1970,
        "y": 540,
        "wires": []
    }
]